# Merged Data

In [113]:
import pandas as pd
import ta
import numpy as np

Data

In [2]:
data = pd.read_csv("../raw_data/BTCUSDT_1h.csv")
data.tail(1)

                 timestamp     open     high      low    close     volume
32755  2023-06-04 00:00:00  27052.8  27069.3  26900.0  26990.0  18405.196

In [3]:
data.shape

(32756, 6)

## Indicators

### Volume Indicators

Imports

In [4]:
from ta.volume import ChaikinMoneyFlowIndicator
from ta.volume import ForceIndexIndicator
from ta.volume import MFIIndicator
from ta.volume import VolumeWeightedAveragePrice

Code

In [5]:
cmfi_indicator = ta.volume.ChaikinMoneyFlowIndicator(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
cmfi_values = cmfi_indicator.chaikin_money_flow()
data['CMF'] = cmfi_values

In [6]:
fii_indicator = ta.volume.ForceIndexIndicator(close = data["close"], volume = data["volume"])
fii_values = fii_indicator.force_index() 
data['FII'] = fii_values

In [7]:
mfi_indicator = ta.volume.MFIIndicator(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
mfi_values = mfi_indicator.money_flow_index() 
data['MFI'] = mfi_values

In [8]:
vwa_indicator = ta.volume.VolumeWeightedAveragePrice(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
vwa_values = vwa_indicator.volume_weighted_average_price() 
data['VWA'] = vwa_values

In [9]:
data.shape

(32756, 10)

### Momentum Indicators

Imports

In [10]:
from ta.momentum import AwesomeOscillatorIndicator
from ta.momentum import KAMAIndicator
from ta.momentum import PercentagePriceOscillator
from ta.momentum import PercentageVolumeOscillator
from ta.momentum import ROCIndicator
from ta.momentum import RSIIndicator
from ta.momentum import StochRSIIndicator
from ta.momentum import StochasticOscillator
from ta.momentum import TSIIndicator
from ta.momentum import UltimateOscillator
from ta.momentum import WilliamsRIndicator

Code

In [11]:
ao_indicator = ta.momentum.AwesomeOscillatorIndicator(data["high"], data["low"])
ao_values = ao_indicator.awesome_oscillator()
data['AOI'] = ao_values

In [12]:
kama_indicator = KAMAIndicator(close=data['close'])
kama_values = kama_indicator.kama()
data['KAMA'] = kama_values

In [13]:
ppo_indicator = PercentagePriceOscillator(close=data['close'])
ppo_values = ppo_indicator.ppo()
data['PPO'] = ppo_values
ppo_signal_values = ppo_indicator.ppo_signal()
data['PPO_signal'] = ppo_signal_values

In [14]:
pvo_indicator = PercentageVolumeOscillator(volume=data['volume'])
pvo_values = pvo_indicator.pvo()
data['PVO'] = pvo_values
pvo_signal_values = pvo_indicator.pvo_signal()
data['PVO_signal'] = pvo_signal_values

In [15]:
roc_indicator = ROCIndicator(close=data['close'])
roc_values = roc_indicator.roc()
data['ROC'] = roc_values

In [16]:
rsi_indicator = RSIIndicator(close=data['close'])
rsi_values = rsi_indicator.rsi()
data['rsi'] = rsi_values

In [17]:
srsi_indicator = StochRSIIndicator(close=data['close'])
srsi_values = srsi_indicator.stochrsi()
data['stoch_RSI'] = srsi_values

In [18]:
so_indicator = StochasticOscillator(high = data["high"], low = data["low"], close = data['close'])
so_values = so_indicator.stoch()
data["StochOscillator"] = so_values
so_signal_values = so_indicator.stoch_signal()
data['StochOscillator_signal'] = so_signal_values

In [19]:
tsi_indicator = TSIIndicator(close=data['close'])
tsi_values = tsi_indicator.tsi()
data['TSI'] = tsi_values

In [20]:
uo_indicator = UltimateOscillator(high = data["high"], low = data["low"], close = data['close'])
uo_values = uo_indicator.ultimate_oscillator()
data["UltimateOscillator"] = uo_values

In [21]:
wri_indicator = WilliamsRIndicator(high = data["high"], low = data["low"], close = data['close'])
wri_values = wri_indicator.williams_r()
data["WilliamsRIndicator"] = wri_values

In [22]:
data.shape

(32756, 24)

### Volatility Indicator

Imports

In [23]:
from ta.volatility import AverageTrueRange
from ta.volatility import BollingerBands
from ta.volatility import keltner_channel_wband
from ta.volatility import keltner_channel_pband
from ta.volatility import keltner_channel_mband
from ta.volatility import donchian_channel_lband
from ta.volatility import donchian_channel_hband
from ta.volatility import donchian_channel_mband
from ta.volatility import ulcer_index

Code

In [24]:
atr_indicator = AverageTrueRange(high = data["high"], low = data["low"], close = data['close'])
atr_values = atr_indicator.average_true_range()
data['ATR'] = atr_values

In [25]:
bol_indicator = BollingerBands(close = data['close'])
bol_values = bol_indicator.bollinger_lband()
data['BOL_lband'] = bol_values
bol_hband_values = bol_indicator.bollinger_hband()
data['BOL_hband'] = bol_hband_values
bol_avg_values = bol_indicator.bollinger_mavg()
data['BOL_avg'] = bol_avg_values

In [26]:
kcw_indicator = keltner_channel_wband(high = data["high"], low = data["low"], close = data['close'])
data['KCW'] = kcw_indicator

In [27]:
kcp_indicator = keltner_channel_pband(high = data["high"], low = data["low"], close = data['close'])
data['KCP'] = kcp_indicator

In [28]:
kcm_indicator = keltner_channel_mband(high = data["high"], low = data["low"], close = data['close'])
data['KCM'] = kcm_indicator

In [29]:
dcl_indicator = donchian_channel_lband(high = data["high"], low = data["low"], close = data['close'])
data["DCL"] = dcl_indicator

In [30]:
dch_indicator = donchian_channel_hband(high = data["high"], low = data["low"], close = data['close'])
data['DCH'] = dch_indicator

In [31]:
dcm_indicator = donchian_channel_mband(high = data["high"], low = data["low"], close = data['close'])
data['DCM'] = dcm_indicator

In [32]:
uli_indicator = ulcer_index(close = data['close'])
data['ULI'] = uli_indicator

In [33]:
data.shape

(32756, 35)

### Trend Indicator

Imports

In [34]:
from ta.trend import ADXIndicator
from ta.trend import AroonIndicator
from ta.trend import CCIIndicator
from ta.trend import DPOIndicator
from ta.trend import EMAIndicator
from ta.trend import KSTIndicator
from ta.trend import MACD
from ta.trend import MassIndex
from ta.trend import PSARIndicator
from ta.trend import SMAIndicator
from ta.trend import STCIndicator
from ta.trend import TRIXIndicator
from ta.trend import VortexIndicator
from ta.trend import WMAIndicator

Code

In [35]:
data["ADX"] = ADXIndicator(high = data["high"], low = data["low"], close = data['close']).adx()
data["ADX_neg"] = ADXIndicator(high = data["high"], low = data["low"], close = data['close']).adx_neg()
data["ADX_pos"] = ADXIndicator(high = data["high"], low = data["low"], close = data['close']).adx_pos()

/Users/ferdinandkrainer/.pyenv/versions/3.10.6/envs/assist_trader/lib/python3.10/site-packages/ta/trend.py:780: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
/Users/ferdinandkrainer/.pyenv/versions/3.10.6/envs/assist_trader/lib/python3.10/site-packages/ta/trend.py:785: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

In [36]:
data["ARI_down"] = AroonIndicator(close = data['close']).aroon_down()
data["ARI"] = AroonIndicator(close = data['close']).aroon_indicator()
data["ARI_up"] = AroonIndicator(close = data['close']).aroon_up()

In [37]:
data["CCI"] = CCIIndicator(high = data["high"], low = data["low"], close = data['close']).cci()

In [38]:
data["DPO"] = DPOIndicator(close = data['close']).dpo()

In [39]:
data["EMA_14"] = EMAIndicator(close = data['close'], window=14).ema_indicator()
data["EMA_20"] = EMAIndicator(close = data['close'], window=20).ema_indicator()
data["EMA_50"] = EMAIndicator(close = data['close'], window=50).ema_indicator()
data["EMA_100"] = EMAIndicator(close = data['close'], window=100).ema_indicator()
data["EMA_200"] = EMAIndicator(close = data['close'], window=200).ema_indicator()

In [40]:
data["KST"] = KSTIndicator(close = data['close'], roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst()
data["KST_diff"] = KSTIndicator(close = data['close'], roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst_diff()
data["KST_sig"] = KSTIndicator(close = data['close'], roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst_sig()

In [41]:
data["MACD_line"] = MACD(close = data['close'], window_slow= 26, window_fast= 12, window_sign= 9).macd()
data["MACD_signal"] = MACD(close = data['close'], window_slow= 26, window_fast= 12, window_sign= 9).macd_signal()

In [42]:
data["MAI"] = MassIndex(high = data["high"], low = data["low"], window_fast= 9, window_slow= 25).mass_index()

In [43]:
data["PSAR"] = PSARIndicator(high = data["high"], low = data["low"], close = data['close'], step= 0.02, max_step= 0.2).psar()

In [44]:
data["SMA_14"]= SMAIndicator(close = data['close'], window=14).sma_indicator()
data["SMA_20"]= SMAIndicator(close = data['close'], window=20).sma_indicator()
data["SMA_50"]= SMAIndicator(close = data['close'], window=50).sma_indicator()
data["SMA_100"]= SMAIndicator(close = data['close'], window=100).sma_indicator()
data["SMA_200"]= SMAIndicator(close = data['close'], window=200).sma_indicator()

In [45]:
data["STC"]= STCIndicator(close = data['close'], window_slow= 50, window_fast= 23, cycle= 10, smooth1= 3, smooth2= 3).stc()

In [46]:
data["TRIX"]= TRIXIndicator(close = data['close'], window= 15).trix()

In [47]:
data["vortex_ind_diff"] = VortexIndicator(high = data["high"], low = data["low"], close = data['close'], window= 14).vortex_indicator_diff()
data["vortex_neg"] = VortexIndicator(high = data["high"], low = data["low"], close = data['close'], window= 14).vortex_indicator_neg()
data["vortex_pos"] = VortexIndicator(high = data["high"], low = data["low"], close = data['close'], window= 14).vortex_indicator_pos()

In [48]:
data["wma_9"] = WMAIndicator(close = data['close'], window=14).wma()
data["wma_20"] = WMAIndicator(close = data['close'], window=20).wma()
data["wma_50"] = WMAIndicator(close = data['close'], window=50).wma()
data["wma_100"] = WMAIndicator(close = data['close'], window=100).wma()

In [49]:
data.shape

(32756, 69)

In [50]:
data

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,SMA_200,STC,TRIX,vortex_ind_diff,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,27202.5725,61.706651,0.016418,0.065341,0.917674,0.983015,27175.009524,27168.372381,27127.760392,27073.676970
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,27206.0505,38.302308,0.015782,0.031675,0.984213,1.015887,27171.560000,27165.705238,27130.293333,27073.819644
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,27209.2155,19.151154,0.014471,-0.113904,1.006104,0.892200,27161.040952,27158.451429,27130.667137,27072.988198
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,27212.3255,9.575577,0.012502,-0.173782,1.079289,0.905507,27146.839048,27148.811429,27129.670745,27071.634000
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,27214.6260,4.787789,0.009703,-0.291848,1.094035,0.802186,27125.388571,27133.696190,27126.143216,27069.165782

## Merging Tables

### Merging Inflation rate to Bitcoin

Inflation rate dataset

In [51]:
data_inf_rt = pd.read_csv("../raw_data/SP500_price.csv")
data_inf_rt = data_inf_rt.dropna()

In [52]:
data_inf_rt["Date"] = pd.to_datetime(data_inf_rt["Date"], format = '%b %d, %Y')

In [53]:
data_inf_rt = data_inf_rt.drop(["Open", "High", "Low", "Adj Close**", "Volume"], axis=1)

Big Dataset

In [54]:
data["Date"] = data["timestamp"]
data["Date"]= pd.to_datetime(data["Date"]).dt.date
data["Date"]= pd.to_datetime(data["Date"])

Merging Datasets

In [55]:
merged_df_sp = pd.merge(data, data_inf_rt, on=['Date', 'Date'], how='left')

In [56]:
data = merged_df_sp.drop(['Date'],axis = 1)

### Merging Interest rate (US) to Bitcoin

Interest rate dataset

In [57]:
data_int_us = pd.read_csv("../raw_data/historical_country_United_States_indicator_Interest_Rate.csv")

In [58]:
data_int_us.drop(columns=["Category", "Country", "Frequency", "HistoricalDataSymbol", "LastUpdate"], inplace=True)

In [59]:
data_int_us = data_int_us.rename(columns={'Value': 'Interest_Rate'})

In [60]:
data_int_us['DateTime'] = pd.to_datetime(data_int_us['DateTime'])

In [61]:
#data_int_us['datetime_M'] = data_int_us['DateTime'].dt.to_period('d').dt.strftime('%Y-%m-%d')

Big dataset

In [62]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [63]:
data['datetime_d'] = data['timestamp'].dt.to_period('d').dt.strftime('%Y-%m-%d')

Merging

In [64]:
data['datetime_d'] = pd.to_datetime(data['datetime_d'])

In [65]:
data_int_us = data_int_us[data_int_us['DateTime'] > '2019-08-08']

In [66]:
data = data.merge(data_int_us, how='left', left_on='datetime_d', right_on='DateTime')

In [67]:
for i, row in data.iterrows():
    
    fill_interest_rate = 2.25

In [68]:
import math

In [69]:
data.head(1)

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100,Close*,datetime_d,DateTime,Interest_Rate
0,2019-09-08 20:00:00,10000.0,10000.0,10000.0,10000.0,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-08,NaT,NaN

In [70]:
int_list = data['Interest_Rate'].tolist()


for i in range(len(int_list)):
    
    if i > 0 and math.isnan(int_list[i]):
        
        int_list[i] = int_list[i-1]
        
for i in range(len(int_list)):
    
    if math.isnan(int_list[i]):
        
        int_list[i] = 2.25

In [71]:
data['Interest_rates_new'] = int_list

In [72]:
data = data.drop(["datetime_d", "DateTime"], axis = 1)

### Merging Interest rate to Bitcoin

Inflation rate dataset

In [73]:
data_inf_us = pd.read_csv("../raw_data/historical_country_United_States_indicator_Inflation_Rate.csv")

In [74]:
data_inf_us['DateTime'] = pd.to_datetime(data_inf_us['DateTime'])

In [75]:
data_inf_us['datetime_M'] = data_inf_us['DateTime'].dt.to_period('M').dt.strftime('%Y-%m')

Big Dataset

In [76]:
data['datetime_M'] = data['timestamp'].dt.to_period('M').dt.strftime('%Y-%m')

Merging

In [77]:
data = pd.merge(data, data_inf_us, on=['datetime_M', 'datetime_M'], how='left')

In [78]:
data

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,Interest_Rate,Interest_rates_new,datetime_M,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,2.25,2019-09,United States,Inflation Rate,2019-09-30,1.7,Monthly,CPI YOY,2019-11-13T13:30:00
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,2.25,2019-09,United States,Inflation Rate,2019-09-30,1.7,Monthly,CPI YOY,2019-11-13T13:30:00
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,2.25,2019-09,United States,Inflation Rate,2019-09-30,1.7,Monthly,CPI YOY,2019-11-13T13:30:00
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,2.25,2019-09,United States,Inflation Rate,2019-09-30,1.7,Monthly,CPI YOY,2019-11-13T13:30:00
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,2.25,2019-09,United States,Inflation Rate,2019-09-30,1.7,Monthly,CPI YOY,2019-11-13T13:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,NaN,5.25,2023-06,NaN,NaN,NaT,NaN,NaN,NaN,NaN
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,NaN,5.25,2023-06,NaN,NaN,NaT,NaN,NaN,NaN,NaN
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,NaN,5.25,2023-06,NaN,NaN,NaT,NaN,NaN,NaN,NaN
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,NaN,5.25,2023-06,NaN,NaN,NaT,NaN,NaN,NaN,NaN
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,NaN,5.25,2023-06,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [79]:
data = data.drop(["datetime_M", "Category", "Country", "Frequency", "HistoricalDataSymbol", "LastUpdate", "DateTime"], axis=1)

In [80]:
data = data.rename(columns={'Value': 'Inflation_Rate'})
data.tail()

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100,Close*,Interest_Rate,Interest_rates_new,Inflation_Rate
32751,2023-06-03 20:00:00,27239.4,27246.4,27101.0,27147.6,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,0.917674,0.983015,27175.009524,27168.372381,27127.760392,27073.676970,NaN,NaN,5.25,NaN
32752,2023-06-03 21:00:00,27147.7,27173.7,27113.9,27138.8,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,0.984213,1.015887,27171.560000,27165.705238,27130.293333,27073.819644,NaN,NaN,5.25,NaN
32753,2023-06-03 22:00:00,27138.9,27153.6,27000.0,27084.9,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,1.006104,0.892200,27161.040952,27158.451429,27130.667137,27072.988198,NaN,NaN,5.25,NaN
32754,2023-06-03 23:00:00,27084.9,27119.5,27042.0,27052.7,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,1.079289,0.905507,27146.839048,27148.811429,27129.670745,27071.634000,NaN,NaN,5.25,NaN
32755,2023-06-04 00:00:00,27052.8,27069.3,26900.0,26990.0,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,1.094035,0.802186,27125.388571,27133.696190,27126.143216,27069.165782,NaN,NaN,5.25,NaN

In [81]:
data.to_csv("Big_dataset_1")

## Functions

#### subhag trend

In [82]:
#def ghost_trend_signal(data, resolution=60, fast_length=3, slow_length=10):
#    src = data.close
#    trend_60 = ((ta.trend.ema_indicator(src, fast_length) - ta.trend.ema_indicator(src, slow_length))/src)*100
#    prev_trend_60 = ((ta.trend.ema_indicator(src.shift(5), fast_length) - ta.trend.ema_indicator(src.shift(5), slow_length))/src.shift(5))*100
#    trend_status_60 = ['GREEN' if trend_60[i] > prev_trend_60[i] else 'RED' for i in range(len(data))]
#    return pd.DataFrame({'timestamp': data.timestamp,'subhag_signal': trend_status_60})

In [83]:
#data_g_r = ghost_trend_signal(data, resolution=60, fast_length=3, slow_length=10)

In [91]:
#data = pd.merge(data, data_g_r, on=['timestamp', 'timestamp'], how='left')

In [90]:
#data_g_r

                timestamp subhag_signal
0     2019-09-08 20:00:00           RED
1     2019-09-08 21:00:00           RED
2     2019-09-08 22:00:00           RED
3     2019-09-08 23:00:00           RED
4     2019-09-09 00:00:00           RED
...                   ...           ...
32751 2023-06-03 20:00:00         GREEN
32752 2023-06-03 21:00:00           RED
32753 2023-06-03 22:00:00           RED
32754 2023-06-03 23:00:00           RED
32755 2023-06-04 00:00:00           RED

[32756 rows x 2 columns]

In [104]:
#df = pd.DataFrame(pd.concat([data["timestamp"], data_g_r["timestamp"]],axis=1))

In [109]:
#df.columns

Index(['timestamp', 'timestamp'], dtype='object')

In [108]:
#df.isnull()

       timestamp  timestamp
0          False      False
1          False      False
2          False      False
3          False      False
4          False      False
...          ...        ...
32841      False       True
32842      False       True
32843      False       True
32844      False       True
32845      False       True

[32846 rows x 2 columns]

#### Fisher transform

In [116]:
def highes(data, length):
    return np.array( [0]*length + [ np.max(data[i-length+1: i+1]) for i in range(length, len(data))])
def lowes(data, length):
    return np.array( [0]*length + [ np.min(data[i-length+1: i+1]) for i in range(length, len(data))])
def fisher_transform(df, len_=9):
    high, low = df.high, df.low
    hl2 = (high+low)/2
    high_ = highes(hl2, len_)
    low_ = lowes(hl2, len_)
    def round_(val):
        return .999 if val > .99 else -.999 if val < -.99 else val
    value, fish1 = [0.0], [0.0]
    for i in range(1, len(hl2)):
        value.append(round_(.66 * ((hl2[i] - low_[i]) / (high_[i] - low_[i]) - .5) + .67 * value[i-1]))
        fish1.append(.5 * np.log((1 + value[i]) / (1 - value[i])) + .5 * fish1[i-1])
    fish1 = pd.Series(fish1)
    fish2 = fish1.shift().fillna(method='bfill')
    return pd.DataFrame({'timestamp': df.timestamp,
                         'Fisher': np.round(fish1, 5),
                         'Fisher_trigger': np.round(fish2, 5)})

In [117]:
fisher_transform(data, len_=9)

/var/folders/0n/87jbs2_x4ydc8dqckcntbhfw0000gn/T/ipykernel_28503/3376831689.py:14: RuntimeWarning: divide by zero encountered in double_scalars
  value.append(round_(.66 * ((hl2[i] - low_[i]) / (high_[i] - low_[i]) - .5) + .67 * value[i-1]))

                timestamp   Fisher  Fisher_trigger
0     2019-09-08 20:00:00  0.00000         0.00000
1     2019-09-08 21:00:00  3.80020         0.00000
2     2019-09-08 22:00:00  5.70030         3.80020
3     2019-09-08 23:00:00  6.65035         5.70030
4     2019-09-09 00:00:00  7.12538         6.65035
...                   ...      ...             ...
32841 2023-06-03 20:00:00  0.55827         0.61369
32842 2023-06-03 21:00:00  0.15512         0.55827
32843 2023-06-03 22:00:00 -0.36126         0.15512
32844 2023-06-03 23:00:00 -0.86198        -0.36126
32845 2023-06-04 00:00:00 -1.35313        -0.86198

[32846 rows x 3 columns]