# Merged Data

In [1]:
import pandas as pd
import ta
import numpy as np
import matplotlib.pyplot as plt

Data

In [2]:
data = pd.read_csv("../raw_data/BTCUSDT_1h.csv")
data.tail(1)

                 timestamp     open     high      low    close     volume
32755  2023-06-04 00:00:00  27052.8  27069.3  26900.0  26990.0  18405.196

In [3]:
data.shape

(32756, 6)

## Indicators

### Volume Indicators

Imports

In [4]:
from ta.volume import ChaikinMoneyFlowIndicator
from ta.volume import ForceIndexIndicator
from ta.volume import MFIIndicator
from ta.volume import VolumeWeightedAveragePrice

Code

In [5]:
cmfi_indicator = ta.volume.ChaikinMoneyFlowIndicator(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
cmfi_values = cmfi_indicator.chaikin_money_flow()
data['CMF'] = cmfi_values

In [6]:
fii_indicator = ta.volume.ForceIndexIndicator(close = data["close"], volume = data["volume"])
fii_values = fii_indicator.force_index() 
data['FII'] = fii_values

In [7]:
mfi_indicator = ta.volume.MFIIndicator(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
mfi_values = mfi_indicator.money_flow_index() 
data['MFI'] = mfi_values

In [8]:
vwa_indicator = ta.volume.VolumeWeightedAveragePrice(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
vwa_values = vwa_indicator.volume_weighted_average_price() 
data['VWA'] = vwa_values

In [9]:
data.shape

(32756, 10)

### Momentum Indicators

Imports

In [10]:
from ta.momentum import AwesomeOscillatorIndicator
from ta.momentum import KAMAIndicator
from ta.momentum import PercentagePriceOscillator
from ta.momentum import PercentageVolumeOscillator
from ta.momentum import ROCIndicator
from ta.momentum import RSIIndicator
from ta.momentum import StochRSIIndicator
from ta.momentum import StochasticOscillator
from ta.momentum import TSIIndicator
from ta.momentum import UltimateOscillator
from ta.momentum import WilliamsRIndicator

Code

In [11]:
ao_indicator = ta.momentum.AwesomeOscillatorIndicator(data["high"], data["low"])
ao_values = ao_indicator.awesome_oscillator()
data['AOI'] = ao_values

In [12]:
kama_indicator = KAMAIndicator(close=data['close'])
kama_values = kama_indicator.kama()
data['KAMA'] = kama_values

In [13]:
ppo_indicator = PercentagePriceOscillator(close=data['close'])
ppo_values = ppo_indicator.ppo()
data['PPO'] = ppo_values
ppo_signal_values = ppo_indicator.ppo_signal()
data['PPO_signal'] = ppo_signal_values

In [14]:
pvo_indicator = PercentageVolumeOscillator(volume=data['volume'])
pvo_values = pvo_indicator.pvo()
data['PVO'] = pvo_values
pvo_signal_values = pvo_indicator.pvo_signal()
data['PVO_signal'] = pvo_signal_values

In [15]:
roc_indicator = ROCIndicator(close=data['close'])
roc_values = roc_indicator.roc()
data['ROC'] = roc_values

In [16]:
rsi_indicator = RSIIndicator(close=data['close'])
rsi_values = rsi_indicator.rsi()
data['rsi'] = rsi_values

In [17]:
srsi_indicator = StochRSIIndicator(close=data['close'])
srsi_values = srsi_indicator.stochrsi()
data['stoch_RSI'] = srsi_values

In [18]:
so_indicator = StochasticOscillator(high = data["high"], low = data["low"], close = data['close'])
so_values = so_indicator.stoch()
data["StochOscillator"] = so_values
so_signal_values = so_indicator.stoch_signal()
data['StochOscillator_signal'] = so_signal_values

In [19]:
tsi_indicator = TSIIndicator(close=data['close'])
tsi_values = tsi_indicator.tsi()
data['TSI'] = tsi_values

In [20]:
uo_indicator = UltimateOscillator(high = data["high"], low = data["low"], close = data['close'])
uo_values = uo_indicator.ultimate_oscillator()
data["UltimateOscillator"] = uo_values

In [21]:
wri_indicator = WilliamsRIndicator(high = data["high"], low = data["low"], close = data['close'])
wri_values = wri_indicator.williams_r()
data["WilliamsRIndicator"] = wri_values

In [22]:
data.shape

(32756, 24)

### Volatility Indicator

Imports

In [23]:
from ta.volatility import AverageTrueRange
from ta.volatility import BollingerBands
from ta.volatility import keltner_channel_wband
from ta.volatility import keltner_channel_pband
from ta.volatility import keltner_channel_mband
from ta.volatility import donchian_channel_lband
from ta.volatility import donchian_channel_hband
from ta.volatility import donchian_channel_mband
from ta.volatility import ulcer_index

Code

In [24]:
atr_indicator = AverageTrueRange(high = data["high"], low = data["low"], close = data['close'])
atr_values = atr_indicator.average_true_range()
data['ATR'] = atr_values

In [25]:
bol_indicator = BollingerBands(close = data['close'])
bol_values = bol_indicator.bollinger_lband()
data['BOL_lband'] = bol_values
bol_hband_values = bol_indicator.bollinger_hband()
data['BOL_hband'] = bol_hband_values
bol_avg_values = bol_indicator.bollinger_mavg()
data['BOL_avg'] = bol_avg_values

In [26]:
kcw_indicator = keltner_channel_wband(high = data["high"], low = data["low"], close = data['close'])
data['KCW'] = kcw_indicator

In [27]:
kcp_indicator = keltner_channel_pband(high = data["high"], low = data["low"], close = data['close'])
data['KCP'] = kcp_indicator

In [28]:
kcm_indicator = keltner_channel_mband(high = data["high"], low = data["low"], close = data['close'])
data['KCM'] = kcm_indicator

In [29]:
dcl_indicator = donchian_channel_lband(high = data["high"], low = data["low"], close = data['close'])
data["DCL"] = dcl_indicator

In [30]:
dch_indicator = donchian_channel_hband(high = data["high"], low = data["low"], close = data['close'])
data['DCH'] = dch_indicator

In [31]:
dcm_indicator = donchian_channel_mband(high = data["high"], low = data["low"], close = data['close'])
data['DCM'] = dcm_indicator

In [32]:
uli_indicator = ulcer_index(close = data['close'])
data['ULI'] = uli_indicator

In [33]:
data.shape

(32756, 35)

### Trend Indicator

Imports

In [34]:
from ta.trend import ADXIndicator
from ta.trend import AroonIndicator
from ta.trend import CCIIndicator
from ta.trend import DPOIndicator
from ta.trend import EMAIndicator
from ta.trend import KSTIndicator
from ta.trend import MACD
from ta.trend import MassIndex
from ta.trend import PSARIndicator
from ta.trend import SMAIndicator
from ta.trend import STCIndicator
from ta.trend import TRIXIndicator
from ta.trend import VortexIndicator
from ta.trend import WMAIndicator

Code

In [35]:
data["ADX"] = ADXIndicator(high = data["high"], low = data["low"], close = data['close']).adx()
data["ADX_neg"] = ADXIndicator(high = data["high"], low = data["low"], close = data['close']).adx_neg()
data["ADX_pos"] = ADXIndicator(high = data["high"], low = data["low"], close = data['close']).adx_pos()

/Users/ferdinandkrainer/.pyenv/versions/3.10.6/envs/assist_trader/lib/python3.10/site-packages/ta/trend.py:780: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
/Users/ferdinandkrainer/.pyenv/versions/3.10.6/envs/assist_trader/lib/python3.10/site-packages/ta/trend.py:785: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

In [36]:
data["ARI_down"] = AroonIndicator(close = data['close']).aroon_down()
data["ARI"] = AroonIndicator(close = data['close']).aroon_indicator()
data["ARI_up"] = AroonIndicator(close = data['close']).aroon_up()

In [37]:
data["CCI"] = CCIIndicator(high = data["high"], low = data["low"], close = data['close']).cci()

In [38]:
data["DPO"] = DPOIndicator(close = data['close']).dpo()

In [39]:
data["EMA_14"] = EMAIndicator(close = data['close'], window=14).ema_indicator()
data["EMA_20"] = EMAIndicator(close = data['close'], window=20).ema_indicator()
data["EMA_50"] = EMAIndicator(close = data['close'], window=50).ema_indicator()
data["EMA_100"] = EMAIndicator(close = data['close'], window=100).ema_indicator()
data["EMA_200"] = EMAIndicator(close = data['close'], window=200).ema_indicator()

In [40]:
data["KST"] = KSTIndicator(close = data['close'], roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst()
data["KST_diff"] = KSTIndicator(close = data['close'], roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst_diff()
data["KST_sig"] = KSTIndicator(close = data['close'], roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst_sig()

In [41]:
data["MACD_line"] = MACD(close = data['close'], window_slow= 26, window_fast= 12, window_sign= 9).macd()
data["MACD_signal"] = MACD(close = data['close'], window_slow= 26, window_fast= 12, window_sign= 9).macd_signal()

In [42]:
data["MAI"] = MassIndex(high = data["high"], low = data["low"], window_fast= 9, window_slow= 25).mass_index()

In [43]:
data["PSAR"] = PSARIndicator(high = data["high"], low = data["low"], close = data['close'], step= 0.02, max_step= 0.2).psar()

In [44]:
data["SMA_14"]= SMAIndicator(close = data['close'], window=14).sma_indicator()
data["SMA_20"]= SMAIndicator(close = data['close'], window=20).sma_indicator()
data["SMA_50"]= SMAIndicator(close = data['close'], window=50).sma_indicator()
data["SMA_100"]= SMAIndicator(close = data['close'], window=100).sma_indicator()
data["SMA_200"]= SMAIndicator(close = data['close'], window=200).sma_indicator()

In [45]:
data["STC"]= STCIndicator(close = data['close'], window_slow= 50, window_fast= 23, cycle= 10, smooth1= 3, smooth2= 3).stc()

In [46]:
data["TRIX"]= TRIXIndicator(close = data['close'], window= 15).trix()

In [47]:
data["vortex_ind_diff"] = VortexIndicator(high = data["high"], low = data["low"], close = data['close'], window= 14).vortex_indicator_diff()
data["vortex_neg"] = VortexIndicator(high = data["high"], low = data["low"], close = data['close'], window= 14).vortex_indicator_neg()
data["vortex_pos"] = VortexIndicator(high = data["high"], low = data["low"], close = data['close'], window= 14).vortex_indicator_pos()

In [48]:
data["wma_9"] = WMAIndicator(close = data['close'], window=14).wma()
data["wma_20"] = WMAIndicator(close = data['close'], window=20).wma()
data["wma_50"] = WMAIndicator(close = data['close'], window=50).wma()
data["wma_100"] = WMAIndicator(close = data['close'], window=100).wma()

In [49]:
data.shape

(32756, 69)

In [50]:
data

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,SMA_200,STC,TRIX,vortex_ind_diff,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,27202.5725,61.706651,0.016418,0.065341,0.917674,0.983015,27175.009524,27168.372381,27127.760392,27073.676970
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,27206.0505,38.302308,0.015782,0.031675,0.984213,1.015887,27171.560000,27165.705238,27130.293333,27073.819644
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,27209.2155,19.151154,0.014471,-0.113904,1.006104,0.892200,27161.040952,27158.451429,27130.667137,27072.988198
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,27212.3255,9.575577,0.012502,-0.173782,1.079289,0.905507,27146.839048,27148.811429,27129.670745,27071.634000
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,27214.6260,4.787789,0.009703,-0.291848,1.094035,0.802186,27125.388571,27133.696190,27126.143216,27069.165782

## Merging Tables

### Merging Inflation rate to Bitcoin

Inflation rate dataset

In [51]:
data_inf_rt = pd.read_csv("../raw_data/SP500_price.csv")
data_inf_rt = data_inf_rt.dropna()

In [52]:
data_inf_rt["Date"] = pd.to_datetime(data_inf_rt["Date"], format = '%b %d, %Y')

In [53]:
data_inf_rt = data_inf_rt.drop(["Open", "High", "Low", "Adj Close**", "Volume"], axis=1)

Big Dataset

In [54]:
data["Date"] = data["timestamp"]
data["Date"]= pd.to_datetime(data["Date"]).dt.date
data["Date"]= pd.to_datetime(data["Date"])

Merging Datasets

In [55]:
merged_df_sp = pd.merge(data, data_inf_rt, on=['Date', 'Date'], how='left')

In [56]:
data = merged_df_sp.drop(['Date'],axis = 1)

In [57]:
data = data.rename(columns={'Close*': 'S&P_close'})

In [58]:
data['S&P_close'] = data['S&P_close'].str.replace(',', '').astype(float)

In [59]:
import math

In [60]:
SP_close = data['S&P_close'].tolist()


for i in range(len(SP_close)):
    
    if i > 0 and math.isnan(SP_close[i]):
        
        SP_close[i] = SP_close[i-1]
        
for i in range(len(SP_close)):
    
    if math.isnan(SP_close[i]):
        
        SP_close[i] = 2978.43

In [61]:
data["S&P_close_filled"] = SP_close

In [62]:
data = data.drop(["S&P_close"], axis = 1)

In [63]:
data.head()

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,STC,TRIX,vortex_ind_diff,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100,S&P_close_filled
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2978.43
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2978.43
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2978.43
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2978.43
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2978.43

### Merging Interest rate (US) to Bitcoin

Interest rate dataset

In [64]:
data_int_us = pd.read_csv("../raw_data/historical_country_United_States_indicator_Interest_Rate.csv")

In [65]:
data_int_us.drop(columns=["Category", "Country", "Frequency", "HistoricalDataSymbol", "LastUpdate"], inplace=True)

In [66]:
data_int_us = data_int_us.rename(columns={'Value': 'Interest_Rate'})

In [67]:
data_int_us['DateTime'] = pd.to_datetime(data_int_us['DateTime'])

In [68]:
#data_int_us['datetime_M'] = data_int_us['DateTime'].dt.to_period('d').dt.strftime('%Y-%m-%d')

Big dataset

In [69]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [70]:
data['datetime_d'] = data['timestamp'].dt.to_period('d').dt.strftime('%Y-%m-%d')

Merging

In [71]:
data['datetime_d'] = pd.to_datetime(data['datetime_d'])

In [72]:
data_int_us = data_int_us[data_int_us['DateTime'] > '2019-08-08']

In [73]:
data = data.merge(data_int_us, how='left', left_on='datetime_d', right_on='DateTime')

In [74]:
import math

In [75]:
data.head(1)

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100,S&P_close_filled,datetime_d,DateTime,Interest_Rate
0,2019-09-08 20:00:00,10000.0,10000.0,10000.0,10000.0,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2978.43,2019-09-08,NaT,NaN

In [76]:
int_list = data['Interest_Rate'].tolist()


for i in range(len(int_list)):
    
    if i > 0 and math.isnan(int_list[i]):
        
        int_list[i] = int_list[i-1]
        
for i in range(len(int_list)):
    
    if math.isnan(int_list[i]):
        
        int_list[i] = 2.25

In [77]:
data['Interest_Rates_filled'] = int_list

In [78]:
data = data.drop(["datetime_d", "DateTime", "Interest_Rate"], axis = 1)

### Merging Inflation rate to Bitcoin

Inflation rate dataset

In [79]:
data_inf_us = pd.read_csv("../raw_data/historical_country_United_States_indicator_Inflation_Rate.csv")

In [80]:
new_rows = [{'Value': 5.15, 'DateTime': '2023-05-30T00:00:00'}, {'Value': 5.08, 'DateTime': '2023-06-30T00:00:00'}]
new_df = pd.DataFrame(new_rows)
data_inf_us = pd.concat([data_inf_us, new_df], ignore_index=True)

In [81]:
data_inf_us['DateTime'] = pd.to_datetime(data_inf_us['DateTime'])

In [82]:
data_inf_us.tail(5)

,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate
1298,United States,Inflation Rate,2023-02-28,6.00,Monthly,CPI YOY,2023-04-12T12:30:00
1299,United States,Inflation Rate,2023-03-31,5.00,Monthly,CPI YOY,2023-05-10T12:30:00
1300,United States,Inflation Rate,2023-04-30,4.90,Monthly,CPI YOY,2023-05-10T12:30:00
1301,NaN,NaN,2023-05-30,5.15,NaN,NaN,NaN
1302,NaN,NaN,2023-06-30,5.08,NaN,NaN,NaN

In [83]:
data_inf_us['datetime_M'] = data_inf_us['DateTime'].dt.to_period('M').dt.strftime('%Y-%m')

In [84]:
data_inf_us = data_inf_us.drop(["Category", "Country", "Frequency", "HistoricalDataSymbol", "LastUpdate", "DateTime"], axis=1)

Big Dataset

In [85]:
data_inf_us.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Value       1303 non-null   float64
 1   datetime_M  1303 non-null   object
dtypes: float64(1), object(1)
memory usage: 20.5+ KB

In [86]:
data['datetime_M'] = data['timestamp'].dt.to_period('M').dt.strftime('%Y-%m')

Merging

In [87]:
data = pd.merge(data, data_inf_us, on=['datetime_M', 'datetime_M'], how='left')

In [88]:
data.tail(50)

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100,S&P_close_filled,Interest_Rates_filled,datetime_M,Value
32706,2023-06-01 23:00:00,26851.6,26916.7,26812.5,26850.4,10327.055,-0.075636,-3.304596e+05,44.423743,26912.911721,...,0.981550,1.023234,26910.714286,26895.357143,26974.541490,27246.496218,4221.02,5.25,2023-06,5.08
32707,2023-06-02 00:00:00,26850.5,26934.0,26849.0,26881.4,7588.041,-0.049525,-2.496469e+05,48.281993,26917.156581,...,0.963815,1.044489,26908.314286,26895.735714,26965.393020,27235.131485,4282.37,5.25,2023-06,5.08
32708,2023-06-02 01:00:00,26881.4,26894.7,26834.3,26869.5,5921.792,0.041613,-2.240501e+05,44.646173,26918.133906,...,1.010743,1.027750,26903.459048,26895.857619,26956.526902,27223.621545,4282.37,5.25,2023-06,5.08
32709,2023-06-02 02:00:00,26869.5,26875.8,26697.1,26805.3,13490.624,0.008506,-3.157713e+05,39.160235,26910.997932,...,1.031714,0.914107,26890.361905,26889.082381,26945.830353,27210.980495,4282.37,5.25,2023-06,5.08
32710,2023-06-02 03:00:00,26805.3,26815.8,26477.6,26779.9,42771.218,0.097120,-4.258595e+05,33.958348,26875.740813,...,1.044904,0.850157,26874.750476,26879.713333,26934.847373,27197.977683,4282.37,5.25,2023-06,5.08
32711,2023-06-02 04:00:00,26780.0,26842.0,26703.1,26805.7,15043.775,0.101276,-3.095754e+05,38.536627,26870.669486,...,1.022273,0.949469,26863.199048,26872.883810,26925.616471,27185.637485,4282.37,5.25,2023-06,5.08
32712,2023-06-02 05:00:00,26805.6,26978.7,26800.2,26950.8,18602.016,0.162305,1.202429e+05,38.293956,26872.160189,...,0.992564,1.010736,26871.718095,26880.050476,26922.761569,27176.373089,4282.37,5.25,2023-06,5.08
32713,2023-06-02 06:00:00,26950.8,27015.5,26917.2,26985.1,9039.966,0.181825,1.473612e+05,37.642265,26874.490942,...,0.975966,1.024750,26884.611429,26889.659048,26921.874745,27168.011386,4282.37,5.25,2023-06,5.08
32714,2023-06-02 07:00:00,26985.2,27116.1,26937.3,27051.7,20075.976,0.169389,3.173182e+05,44.977150,26885.419556,...,0.943956,1.047210,26905.400000,26904.682381,26924.181333,27161.180495,4282.37,5.25,2023-06,5.08
32715,2023-06-02 08:00:00,27051.8,27200.0,27048.3,27140.3,18534.424,0.197426,5.065798e+05,50.306071,26901.841368,...,0.899633,1.078757,26936.440952,26927.435238,26930.442118,27156.329188,4282.37,5.25,2023-06,5.08
32716,2023-06-02 09:00:00,27140.2,27156.1,27055.4,27061.0,12561.950,0.186735,2.919023e+05,40.113760,26894.342371,...,1.010427,1.120147,26954.469524,26941.476667,26933.990118,27150.109505,4282.37,5.25,2023-06,5.08
32717,2023-06-02 10:00:00,27061.0,27108.2,27033.0,27038.3,10460.263,0.149814,2.162809e+05,43.656359,26888.413588,...,1.010161,1.058264,26969.660952,26952.327619,26936.791059,27143.643168,4282.37,5.25,2023-06,5.08
32718,2023-06-02 11:00:00,27038.3,27168.0,27038.3,27159.9,10050.855,0.140872,3.599813e+05,48.319782,26894.399352,...,0.942293,1.050534,27000.204762,26974.013810,26944.393725,27139.764871,4282.37,5.25,2023-06,5.08
32719,2023-06-02 12:00:00,27159.9,27181.1,27054.9,27074.6,10895.817,0.135527,1.757821e+05,53.311402,26916.976996,...,0.895346,1.215942,27017.476190,26986.480952,26948.643529,27134.352871,4282.37,5.25,2023-06,5.08
32720,2023-06-02 13:00:00,27074.5,27096.0,27051.1,27090.0,5695.203,0.158660,1.631998e+05,49.393940,26924.513043,...,0.904891,1.126565,27034.677143,26999.496190,26953.556706,27129.425762,4282.37,5.25,2023-06,5.08
32721,2023-06-02 14:00:00,27090.0,27162.4,27057.0,27118.5,9551.025,0.168128,1.787719e+05,49.903058,26934.739212,...,0.880143,1.109152,27053.396190,27014.262857,26959.615843,27125.243208,4282.37,5.25,2023-06,5.08
32722,2023-06-02 15:00:00,27118.5,27249.3,26978.0,27084.6,45720.244,0.079330,-6.818358e+04,41.660936,26968.320309,...,0.832459,1.067895,27065.337143,27024.685238,26964.346824,27120.543129,4282.37,5.25,2023-06,5.08
32723,2023-06-02 16:00:00,27084.6,27126.0,26840.5,26896.4,38723.403,0.065966,-1.099549e+06,37.724916,26975.140203,...,0.887465,1.064499,27050.136190,27017.166190,26961.669020,27112.276317,4282.37,5.25,2023-06,5.08
32724,2023-06-02 17:00:00,26896.4,26977.0,26875.0,26952.0,20518.727,0.107431,-7.794936e+05,41.074519,27021.248126,...,0.918877,1.199990,27041.480952,27015.187619,26961.321804,27105.315683,4282.37,5.25,2023-06,5.08
32725,2023-06-02 18:00:00,26952.0,27098.9,26949.5,27081.3,15579.665,0.122566,-3.803587e+05,41.237509,27037.172904,...,0.871396,1.123348,27048.426667,27025.563810,26966.133176,27101.093842,4282.37,5.25,2023-06,5.08
32726,2023-06-02 19:00:00,27081.3,27111.1,27017.7,27047.6,12471.296,0.116931,-3.860621e+05,39.760178,27048.166999,...,0.930771,1.113725,27048.254286,27031.636667,26969.640784,27096.368396,4282.37,5.25,2023-06,5.08
32727,2023-06-02 20:00:00,27047.5,27086.1,27009.0,27045.1,6761.855,0.121223,-3.333253e+05,36.343531,27051.001287,...,0.962671,1.048538,27046.826667,27036.532381,26973.031059,27091.756495,4282.37,5.25,2023-06,5.08
32728,2023-06-02 21:00:00,27045.1,27185.0,26985.1,27183.2,15366.310,0.158062,1.744790e+04,35.070108,27056.783003,...,0.963972,1.024995,27063.240952,27053.800952,26981.723294,27090.047109,4282.37,5.25,2023-06,5.08
32729,2023-06-02 22:00:00,27183.2,27279.0,27114.8,27231.6,22673.073,0.172700,1.717235e+05,36.224605,27065.603625,...,0.958959,1.034547,27084.856190,27074.185238,26992.113961,27089.414713,4282.37,5.25,2023-06,5.08
32730,2023-06-02 23:00:00,27231.5,27265.9,27159.3,27159.3,9943.052,0.057049,4.449401e+04,36.623728,27069.733142,...,0.943132,1.053812,27095.961905,27085.653810,26999.522431,27087.427960,4282.37,5.25,2023-06,5.08
32731,2023-06-03 00:00:00,27159.4,27235.8,27132.0,27190.0,7451.957,0.038738,7.081987e+04,37.094107,27073.922697,...,0.934878,1.050526,27110.224762,27098.239524,27008.031608,27086.135129,4282.37,5.25,2023-06,5.08
32732,2023-06-03 01:00:00,27189.9,27290.0,27181.3,27253.6,7455.346,0.006777,1.284399e+05,36.388395,27077.272476,...,0.937061,1.073772,27131.522857,27115.052381,27018.885490,27086.199129,4282.37,5.25,2023-06,5.08
32733,2023-06-03 02:00:00,27253.7,27261.9,27214.9,27227.8,5162.677,-0.012038,9.106318e+04,37.320341,27079.637049,...,0.956540,1.086059,27148.488571,27127.966190,27028.604706,27085.826772,4282.37,5.25,2023-06,5.08
32734,2023-06-03 03:00:00,27227.8,27230.4,27139.3,27156.9,8627.357,-0.049583,-9.328644e+03,36.831155,27083.312924,...,0.929464,1.046289,27154.541905,27132.971905,27035.429098,27084.128911,4282.37,5.25,2023-06,5.08
32735,2023-06-03 04:00:00,27156.9,27176.7,27077.0,27123.0,9085.166,-0.067551,-5.199414e+04,32.667356,27083.773340,...,0.992472,1.010528,27155.438095,27134.248095,27040.934353,27081.861386,4282.37,5.25,2023-06,5.08
32736,2023-06-03 05:00:00,27122.9,27162.9,27118.0,27138.5,4165.362,-0.030513,-3.534311e+04,42.320109,27080.023733,...,1.051634,1.083667,27158.358095,27137.082857,27047.108706,27080.005822,4282.37,5.25,2023-06,5.08
32737,2023-06-03 06:00:00,27138.5,27164.0,27118.0,27130.9,3180.738,-0.003134,-3.374746e+04,52.387279,27114.055018,...,0.973497,1.193542,27159.751429,27138.824762,27052.923294,27078.106733,4282.37,5.25,2023-06,5.08
32738,2023-06-03 07:00:00,27130.9,27157.9,27098.0,27151.1,5231.420,-0.021173,-1.383001e+04,58.340458,27142.547169,...,0.870015,1.160236,27161.604762,27142.049524,27059.478745,27076.724693,4282.37,5.25,2023-06,5.08
32739,2023-06-03 08:00:00,27151.1,27160.4,27120.1,27149.0,3551.649,0.013394,-1.291979e+04,54.225212,27155.339307,...,0.952051,1.133011,27161.281905,27145.116190,27065.602039,27075.410020,4282.37,5.25,2023-06,5.08
32740,2023-06-03 09:00:00,27149.0,27209.2,27148.9,27169.4,5293.995,-0.009459,4.354107e+03,51.362651,27166.857218,...,0.921489,1.105002,27163.034286,27149.771429,27072.226980,27074.619564,4282.37,5.25,2023-06,5.08
32741,2023-06-03 10:00:00,27169.4,27188.0,27149.7,27161.3,3612.628,-0.021732,-4.482353e+02,52.808286,27174.170958,...,0.915834,1.116214,27162.546667,27153.277143,27078.242353,27073.787644,4282.37,5.25,2023-06,5.08
32742,2023-06-03 11:00:00,27161.4,27173.2,27130.9,27134.3,3589.533,0.006396,-1.422954e+04,43.590729,27181.907307,...,1.011205,1.138448,27157.352381,27154.007619,27082.949176,27072.550515,4282.37,5.25,2023-06,5.08
32743,2023-06-03 12:00:00,27134.2,27146.1,27113.2,27144.3,3803.022,0.162972,-6.763863e+03,25.547588,27172.146752,...,1.144174,0.998264,27153.957143,27155.453810,27087.768392,27071.636693,4282.37,5.25,2023-06,5.08
32744,2023-06-03 13:00:00,27144.2,27173.8,27100.0,27127.1,5618.542,0.102928,-1.960316e+04,27.010348,27166.318364,...,1.103600,0.933296,27149.100000,27154.081429,27091.635373,27070.500574,4282.37,5.25,2023-06,5.08
32745,2023-06-03 14:00:00,27127.1,27163.6,27108.1,27121.0,3649.443,0.016804,-1.998293e+04,28.440308,27162.494414,...,1.085881,0.971571,27143.736190,27151.294286,27095.087294,27069.373941,4282.37,5.25,2023-06,5.08
32746,2023-06-03 15:00:00,27121.0,27164.6,27115.9,27152.9,3802.681,0.064676,2.011306e+02,24.590729,27152.862686,...,1.160625,0.916229,27143.282857,27151.356190,27099.614431,27068.997802,4282.37,5.25,2023-06,5.08
32747,2023-06-03 16:00:00,27152.9,27176.3,27134.0,27157.1,4298.261,0.071945,2.751354e+03,31.280164,27146.778610,...,1.110309,0.895747,27144.348571,27151.316667,27104.064784,27068.827010,4282.37,5.25,2023-06,5.08
32748,2023-06-03 17:00:00,27157.2,27184.9,27154.1,27158.1,4053.640,-0.067101,2.937395e+03,40.002755,27144.055581,...,1.063574,1.020679,27146.220952,27150.839048,27108.338353,27068.811248,4282.37,5.25,2023-06,5.08
32749,2023-06-03 18:00:00,27158.2,27340.2,27110.0,27292.7,23622.539,-0.032319,4.567454e+05,63.025632,27177.805779,...,0.806783,1.038998,27166.028571,27163.300000,27117.711373,27071.605168,4282.37,5.25,2023-06,5.08
32750,2023-06-03 19:00:00,27292.8,27312.0,27211.8,27239.5,14064.686,-0.003029,2.846045e+05,67.231880,27191.952637,...,0.834609,1.104049,27177.126667,27170.403333,27124.675765,27073.486851,4282.37,5.25,2023-06,5.08
32751,2023-06-03 20:00:00,27239.4,27246.4,27101.0,27147.6,15130.376,-0.048901,4.530648e+04,59.148253,27189.586323,...,0.917674,0.983015,27175.009524,27168.372381,27127.760392,27073.676970,4282.37,5.25,2023-06,5.08
32752,2023-06-03 21:00:00,27147.7,27173.7,27113.9,27138.8,6229.878,-0.075151,3.100228e+04,58.559862,27189.451257,...,0.984213,1.015887,27171.560000,27165.705238,27130.293333,27073.819644,4282.37,5.25,2023-06,5.08
32753,2023-06-03 22:00:00,27138.9,27153.6,27000.0,27084.9,15389.644,-0.042819,-9.192688e+04,49.242500,27175.830184,...,1.006104,0.892200,27161.040952,27158.451429,27130.667137,27072.988198,4282.37,5.25,2023-06,5.08
32754,2023-06-03 23:00:00,27084.9,27119.5,27042.0,27052.7,7760.747,-0.045307,-1.144939e+05,43.575625,27168.759575,...,1.079289,0.905507,27146.839048,27148.811429,27129.670745,27071.634000,4282.37,5.25,2023-06,5.08
32755,2023-06-04 00:00:00,27052.8,27069.3,26900.0,26990.0,18405.196,-0.030499,-2.629956e+05,38.631681,27142.897792,...,1.094035,0.802186,27125.388571,27133.696190,27126.143216,27069.165782,4282.37,5.25,2023-06,5.08

In [89]:
data = data.drop(["datetime_M"], axis=1)

In [90]:
data = data.rename(columns={'Value': 'Inflation_Rate_us'})
data.tail()

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,vortex_ind_diff,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100,S&P_close_filled,Interest_Rates_filled,Inflation_Rate_us
32751,2023-06-03 20:00:00,27239.4,27246.4,27101.0,27147.6,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,0.065341,0.917674,0.983015,27175.009524,27168.372381,27127.760392,27073.676970,4282.37,5.25,5.08
32752,2023-06-03 21:00:00,27147.7,27173.7,27113.9,27138.8,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,0.031675,0.984213,1.015887,27171.560000,27165.705238,27130.293333,27073.819644,4282.37,5.25,5.08
32753,2023-06-03 22:00:00,27138.9,27153.6,27000.0,27084.9,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,-0.113904,1.006104,0.892200,27161.040952,27158.451429,27130.667137,27072.988198,4282.37,5.25,5.08
32754,2023-06-03 23:00:00,27084.9,27119.5,27042.0,27052.7,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,-0.173782,1.079289,0.905507,27146.839048,27148.811429,27129.670745,27071.634000,4282.37,5.25,5.08
32755,2023-06-04 00:00:00,27052.8,27069.3,26900.0,26990.0,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,-0.291848,1.094035,0.802186,27125.388571,27133.696190,27126.143216,27069.165782,4282.37,5.25,5.08

In [91]:
data.to_csv("Big_dataset_1")

## Functions

#### subhag trend

In [92]:
def ghost_trend_signal(data, resolution=60, fast_length=3, slow_length=10):
    src = data.close
    trend_60 = ((ta.trend.ema_indicator(src, fast_length) - ta.trend.ema_indicator(src, slow_length))/src)*100
    prev_trend_60 = ((ta.trend.ema_indicator(src.shift(5), fast_length) - ta.trend.ema_indicator(src.shift(5), slow_length))/src.shift(5))*100
    trend_status_60 = [1 if trend_60[i] > prev_trend_60[i] else -1 for i in range(len(data))]
    return pd.DataFrame({'timestamp': data.timestamp,'subhag_signal': trend_status_60})

In [93]:
data_g_r = ghost_trend_signal(data, resolution=60, fast_length=3, slow_length=10)

In [94]:
data_g_r.rename(columns={'timestamp': 'time_g_r'}, inplace=True)

In [95]:
data = pd.merge(data, data_g_r, left_index=True, right_index=True)

In [96]:
data = data.drop(["time_g_r"],axis=1)

#### Fisher transform

In [97]:
def highes(data, length):
    return np.array( [0]*length + [ np.max(data[i-length+1: i+1]) for i in range(length, len(data))])
def lowes(data, length):
    return np.array( [0]*length + [ np.min(data[i-length+1: i+1]) for i in range(length, len(data))])
def fisher_transform(df, len_=9):
    high, low = df.high, df.low
    hl2 = (high+low)/2
    high_ = highes(hl2, len_)
    low_ = lowes(hl2, len_)
    def round_(val):
        return .999 if val > .99 else -.999 if val < -.99 else val
    value, fish1 = [0.0], [0.0]
    for i in range(1, len(hl2)):
        value.append(round_(.66 * ((hl2[i] - low_[i]) / (high_[i] - low_[i]) - .5) + .67 * value[i-1]))
        fish1.append(.5 * np.log((1 + value[i]) / (1 - value[i])) + .5 * fish1[i-1])
    fish1 = pd.Series(fish1)
    fish2 = fish1.shift().fillna(method='bfill')
    return pd.DataFrame({'timestamp': df.timestamp,
                         'Fisher': np.round(fish1, 5),
                         'Fisher_trigger': np.round(fish2, 5)})

In [98]:
fisher_data = fisher_transform(data, len_=9)

/var/folders/0n/87jbs2_x4ydc8dqckcntbhfw0000gn/T/ipykernel_5396/3376831689.py:14: RuntimeWarning: divide by zero encountered in double_scalars
  value.append(round_(.66 * ((hl2[i] - low_[i]) / (high_[i] - low_[i]) - .5) + .67 * value[i-1]))

In [99]:
fisher_data.rename(columns={'timestamp': 'time_fish'}, inplace=True)

In [100]:
fisher_data

                time_fish   Fisher  Fisher_trigger
0     2019-09-08 20:00:00  0.00000         0.00000
1     2019-09-08 21:00:00  3.80020         0.00000
2     2019-09-08 22:00:00  5.70030         3.80020
3     2019-09-08 23:00:00  6.65035         5.70030
4     2019-09-09 00:00:00  7.12538         6.65035
...                   ...      ...             ...
32751 2023-06-03 20:00:00  0.55827         0.61369
32752 2023-06-03 21:00:00  0.15512         0.55827
32753 2023-06-03 22:00:00 -0.36126         0.15512
32754 2023-06-03 23:00:00 -0.86198        -0.36126
32755 2023-06-04 00:00:00 -1.35313        -0.86198

[32756 rows x 3 columns]

In [101]:
data = pd.merge(data, fisher_data, left_index=True, right_index=True)

In [102]:
data = data.drop(["time_fish"],axis=1)

In [103]:
data

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,wma_9,wma_20,wma_50,wma_100,S&P_close_filled,Interest_Rates_filled,Inflation_Rate_us,subhag_signal,Fisher,Fisher_trigger
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2978.43,2.25,1.70,-1,0.00000,0.00000
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2978.43,2.25,1.70,-1,3.80020,0.00000
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2978.43,2.25,1.70,-1,5.70030,3.80020
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2978.43,2.25,1.70,-1,6.65035,5.70030
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2978.43,2.25,1.70,-1,7.12538,6.65035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,27175.009524,27168.372381,27127.760392,27073.676970,4282.37,5.25,5.08,1,0.55827,0.61369
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,27171.560000,27165.705238,27130.293333,27073.819644,4282.37,5.25,5.08,-1,0.15512,0.55827
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,27161.040952,27158.451429,27130.667137,27072.988198,4282.37,5.25,5.08,-1,-0.36126,0.15512
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,27146.839048,27148.811429,27129.670745,27071.634000,4282.37,5.25,5.08,-1,-0.86198,-0.36126
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,27125.388571,27133.696190,27126.143216,27069.165782,4282.37,5.25,5.08,-1,-1.35313,-0.86198

#### Super Trend

In [104]:
def tr(high, low, close):
    hl = np.abs(high-low)
    hc = np.abs(high-close.shift())
    lc = np.abs(low-close.shift())
    ranges = pd.concat([hl, hc, lc], axis=1)
    tr = np.max(ranges, axis=1)
    return pd.Series(tr)
def supertrend(df, Period=21, Multiplier=1.0):
    high, low, close = df.high, df.low, df.close
    src = (high+low)/2
    atr2 = ta.trend.sma_indicator(tr(high, low, close), Period, True)
    atr= ta.volatility.average_true_range(high, low, close, Period, True)
    up, dn = [0], [0]
    trend = [1]
    trend_line = [0]
    for i in range(1, len(close)):
        up_=src[i]-(Multiplier*atr[i])
        up1 = up[i-1]
        up.append(max(up_,up1) if close[i-1] > up1 else up_ )
        dn_ = src[i]+(Multiplier*atr[i])
        dn1 = dn[i-1]
        dn.append(min(dn_, dn1) if close[i-1] < dn1 else dn_)
        trend.append(1 if trend[i-1]==-1 and close[i] > dn1 else -1 if trend[i-1]==1 and close[i] < up1 else trend[i-1])
    return trend

In [105]:
supertrend = supertrend(data)

In [106]:
data['supertrend'] = supertrend

#### choppiness index

In [107]:
def highes(data, length):
    return np.array( [0]*length + [ np.max(data[i-length+1: i+1]) for i in range(length, len(data))])
def lowes(data, length):
    return np.array( [0]*length + [ np.min(data[i-length+1: i+1]) for i in range(length, len(data))])
def chop_index(df, length = 14):
    high, low, close = df.high, df.low, df.close
    atr = ta.volatility.average_true_range(high, low, close, 1).bfill()
    atr_sum = atr.rolling(length).sum().bfill()
    h = highes(high, length)
    l = lowes(low, length)
    ci = 100 * np.log10(atr_sum/(h-l)) / np.log10(length)
    return ci

In [108]:
chop_index = chop_index(data)

In [109]:
data['chop_index'] = list(chop_index)

#### Velocity Function

In [110]:
## Ema Function ##
def EMA(src, len_):
    return ta.trend.ema_indicator(src, len_).fillna(method='bfill')
## Velocity Function ##
def t3_velocity(df, len_=10, vfactor=1):
    Data = df.close
    x1 = (EMA(Data,len_))*(1+vfactor)
    x2 = (EMA(EMA(Data,len_),len_))*vfactor
    gd = x1 - x2
    x11 = (EMA(gd,len_))*(1+vfactor)
    x21 = (EMA(EMA(gd,len_),len_))*vfactor
    gd1 = x11 - x21
    x12 = (EMA(gd1,len_))*(1+vfactor)
    x22 = (EMA(EMA(gd1,len_),len_))*vfactor
    first = x12 - x22
    y1 = (EMA(Data,len_))*(1+vfactor/2)
    y2 = (EMA(EMA(Data,len_),len_))*vfactor/2
    ygd = y1-y2
    y11 = (EMA(ygd,len_))*(1+vfactor/2)
    y21 = (EMA(EMA(ygd,len_),len_))*vfactor/2
    ygd1 = y11-y21
    y12 = (EMA(ygd1,len_))*(1+vfactor/2)
    y22 = (EMA(EMA(ygd1,len_),len_))*vfactor/2
    second1 = y12-y22
    S = first - second1.shift(1)
    c = [1 if s > 0 else -1 for s in S]
    df = pd.DataFrame({'time': df.timestamp, 't3velocity_color': c})
    return df

In [111]:
velo_data = t3_velocity(data)

In [112]:
velo_data.head(1)

                 time  t3velocity_color
0 2019-09-08 20:00:00                -1

In [113]:
velo = velo_data['t3velocity_color'].tolist()

In [114]:
data['Velocity'] = velo

In [115]:
data

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,wma_100,S&P_close_filled,Interest_Rates_filled,Inflation_Rate_us,subhag_signal,Fisher,Fisher_trigger,supertrend,chop_index,Velocity
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,0.00000,0.00000,1,inf,-1
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,3.80020,0.00000,1,inf,1
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,5.70030,3.80020,1,inf,1
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,6.65035,5.70030,1,inf,1
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,7.12538,6.65035,1,inf,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,27073.676970,4282.37,5.25,5.08,1,0.55827,0.61369,-1,53.765071,1
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,27073.819644,4282.37,5.25,5.08,-1,0.15512,0.55827,-1,54.075485,1
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,27072.988198,4282.37,5.25,5.08,-1,-0.36126,0.15512,-1,44.950464,1
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,27071.634000,4282.37,5.25,5.08,-1,-0.86198,-0.36126,-1,45.530993,1
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,27069.165782,4282.37,5.25,5.08,-1,-1.35313,-0.86198,-1,39.918101,-1

In [120]:
data.to_csv('final_raw_data_all_featues.csv', index=False)

In [117]:
data

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA,...,wma_100,S&P_close_filled,Interest_Rates_filled,Inflation_Rate_us,subhag_signal,Fisher,Fisher_trigger,supertrend,chop_index,Velocity
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,0.00000,0.00000,1,inf,-1
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,3.80020,0.00000,1,inf,1
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,5.70030,3.80020,1,inf,1
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,6.65035,5.70030,1,inf,1
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,7.12538,6.65035,1,inf,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,27073.676970,4282.37,5.25,5.08,1,0.55827,0.61369,-1,53.765071,1
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,27073.819644,4282.37,5.25,5.08,-1,0.15512,0.55827,-1,54.075485,1
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,27072.988198,4282.37,5.25,5.08,-1,-0.36126,0.15512,-1,44.950464,1
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,27071.634000,4282.37,5.25,5.08,-1,-0.86198,-0.36126,-1,45.530993,1
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,27069.165782,4282.37,5.25,5.08,-1,-1.35313,-0.86198,-1,39.918101,-1

In [118]:
filled = []

for column in data.columns:
    if "filled" in column:
        filled.append(column)
        
filled

['S&P_close_filled', 'Interest_Rates_filled']

In [119]:
data["Inflation_Rate_us"].isna().sum()

0