# Merged Data

In [1]:
import pandas as pd
import ta
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno

Data

In [2]:
data = pd.read_csv('../raw_data/BTCUSDT_1h.csv')
data = data.drop_duplicates(subset='timestamp')
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [3]:
def data_check(data):
    print(f'Shape: {data.shape}')
    print(f'Duplicates: {data.duplicated().sum()}')
    print(f"Duplicate timestamps {data['timestamp'].duplicated().sum()}")
    print(f'Total amount of NaN: {data.isna().sum().sum()}')

In [4]:
data_check(data)

Shape: (32741, 6)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 0

## Indicators

### Volume Indicators

Imports

In [5]:
from ta.volume import ChaikinMoneyFlowIndicator
from ta.volume import ForceIndexIndicator
from ta.volume import MFIIndicator
from ta.volume import VolumeWeightedAveragePrice

Code

In [6]:
cmfi_indicator = ta.volume.ChaikinMoneyFlowIndicator(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
cmfi_values = cmfi_indicator.chaikin_money_flow()
data['volume_CMF'] = cmfi_values

In [7]:
fii_indicator = ta.volume.ForceIndexIndicator(close = data["close"], volume = data["volume"])
fii_values = fii_indicator.force_index() 
data['volume_FII'] = fii_values

In [8]:
mfi_indicator = ta.volume.MFIIndicator(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
mfi_values = mfi_indicator.money_flow_index() 
data['volume_MFI'] = mfi_values

In [9]:
vwa_indicator = ta.volume.VolumeWeightedAveragePrice(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
vwa_values = vwa_indicator.volume_weighted_average_price() 
data['volume_VWA'] = vwa_values

In [10]:
data_check(data)

Shape: (32741, 10)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 58

### Momentum Indicators

Imports

In [11]:
from ta.momentum import AwesomeOscillatorIndicator
from ta.momentum import KAMAIndicator
from ta.momentum import PercentagePriceOscillator
from ta.momentum import PercentageVolumeOscillator
from ta.momentum import ROCIndicator
from ta.momentum import RSIIndicator
from ta.momentum import StochRSIIndicator
from ta.momentum import StochasticOscillator
from ta.momentum import TSIIndicator
from ta.momentum import UltimateOscillator
from ta.momentum import WilliamsRIndicator

Code

In [12]:
ao_indicator = ta.momentum.AwesomeOscillatorIndicator(data["high"], data["low"])
ao_values = ao_indicator.awesome_oscillator()
data['mom_AOI'] = ao_values

In [13]:
# kama_indicator = KAMAIndicator(close=data['close'])
# kama_values = kama_indicator.kama()
# data['mom_KAMA'] = kama_values

In [14]:
ppo_indicator = PercentagePriceOscillator(close=data['close'])
ppo_values = ppo_indicator.ppo()
data['mom_PPO'] = ppo_values
ppo_signal_values = ppo_indicator.ppo_signal()
data['mom_PPO_signal'] = ppo_signal_values

In [15]:
pvo_indicator = PercentageVolumeOscillator(volume=data['volume'])
pvo_values = pvo_indicator.pvo()
data['mom_PVO'] = pvo_values
pvo_signal_values = pvo_indicator.pvo_signal()
data['mom_PVO_signal'] = pvo_signal_values

In [16]:
roc_indicator = ROCIndicator(close=data['close'])
roc_values = roc_indicator.roc()
data['mom_ROC'] = roc_values

In [17]:
rsi_indicator = RSIIndicator(close=data['close'])
rsi_values = rsi_indicator.rsi()
data['mom_rsi'] = rsi_values

In [18]:
srsi_indicator = StochRSIIndicator(close=data['close'])
srsi_values = srsi_indicator.stochrsi()
data['mom_stoch_RSI'] = srsi_values

In [19]:
so_indicator = StochasticOscillator(high = data["high"], low = data["low"], close = data['close'])
so_values = so_indicator.stoch()
data["mom_StochOscillator"] = so_values
so_signal_values = so_indicator.stoch_signal()
data['mom_StochOscillator_signal'] = so_signal_values

In [20]:
tsi_indicator = TSIIndicator(close=data['close'])
tsi_values = tsi_indicator.tsi()
data['mom_TSI'] = tsi_values

In [21]:
uo_indicator = UltimateOscillator(high = data["high"], low = data["low"], close = data['close'])
uo_values = uo_indicator.ultimate_oscillator()
data["mom_UltimateOscillator"] = uo_values

In [22]:
wri_indicator = WilliamsRIndicator(high = data["high"], low = data["low"], close = data['close'])
wri_values = wri_indicator.williams_r()
data["mom_WilliamsRIndicator"] = wri_values

In [23]:
data_check(data)

Shape: (32741, 23)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 364

In [24]:
# msno.matrix(data[:500])

### Volatility Indicator

Imports

In [25]:
from ta.volatility import AverageTrueRange
from ta.volatility import BollingerBands
from ta.volatility import keltner_channel_wband
from ta.volatility import keltner_channel_pband
from ta.volatility import keltner_channel_mband
from ta.volatility import donchian_channel_lband
from ta.volatility import donchian_channel_hband
from ta.volatility import donchian_channel_mband
from ta.volatility import donchian_channel_wband
from ta.volatility import ulcer_index

Code

In [26]:
# Average True Range

atr_indicator = AverageTrueRange(high = data["high"], low = data["low"], close = data['close'])
atr_values = atr_indicator.average_true_range()
data['volat_ATR'] = atr_values

In [27]:
# Bollinger Indications

bol_indicator = BollingerBands(close=data['close'])

data['volat_bol_hband_binary'] = bol_indicator.bollinger_hband_indicator()
data['volat_bol_lband_binary'] = bol_indicator.bollinger_lband_indicator()
data['volat_bol_band_width'] = bol_indicator.bollinger_wband()

In [28]:
# Keltner Channels

kcw_indicator = keltner_channel_wband(high = data["high"], low = data["low"], close = data['close'])
data['KCW'] = kcw_indicator

kcp_indicator = keltner_channel_pband(high = data["high"], low = data["low"], close = data['close'])
data['KCP'] = kcp_indicator

# Perfect Correlation
# kcm_indicator = keltner_channel_mband(high = data["high"], low = data["low"], close = data['close'])
# data['KCM'] = kcm_indicator

In [29]:
# Donchian channels

dcw_indicator = donchian_channel_wband(high=data["high"], low=data['low'], close=data['close'])
data['donch_DCW'] = dcw_indicator

# Highly correlated
# dcl_indicator = donchian_channel_lband(high = data["high"], low = data["low"], close = data['close'])
# data["DCL"] = dcl_indicator

# dch_indicator = donchian_channel_hband(high = data["high"], low = data["low"], close = data['close'])
# data['DCH'] = dch_indicator

# dcm_indicator = donchian_channel_mband(high = data["high"], low = data["low"], close = data['close'])
# data['DCM'] = dcm_indicator

In [30]:
# Ulcer

uli_indicator = ulcer_index(close = data['close'])
data['ULI'] = uli_indicator

In [31]:
data_check(data)

Shape: (32741, 31)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 426

### Trend Indicator

Imports

In [32]:
from ta.trend import ADXIndicator
from ta.trend import AroonIndicator
from ta.trend import CCIIndicator
from ta.trend import DPOIndicator
from ta.trend import EMAIndicator
from ta.trend import KSTIndicator
from ta.trend import MACD
from ta.trend import MassIndex
from ta.trend import PSARIndicator
from ta.trend import SMAIndicator
from ta.trend import STCIndicator
from ta.trend import TRIXIndicator
from ta.trend import VortexIndicator
from ta.trend import WMAIndicator

Code

In [33]:
data["ADX"] = ADXIndicator(high = data["high"], low = data["low"], close = data['close']).adx()
data["ADX_neg"] = ADXIndicator(high = data["high"], low = data["low"], close = data['close']).adx_neg()
data["ADX_pos"] = ADXIndicator(high = data["high"], low = data["low"], close = data['close']).adx_pos()

/home/lscr/.pyenv/versions/3.10.6/envs/assist_trader/lib/python3.10/site-packages/ta/trend.py:780: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
/home/lscr/.pyenv/versions/3.10.6/envs/assist_trader/lib/python3.10/site-packages/ta/trend.py:785: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

In [34]:
data["ARI_down"] = AroonIndicator(close = data['close']).aroon_down()
data["ARI"] = AroonIndicator(close = data['close']).aroon_indicator()
data["ARI_up"] = AroonIndicator(close = data['close']).aroon_up()

In [35]:
data["CCI"] = CCIIndicator(high = data["high"], low = data["low"], close = data['close']).cci()

In [36]:
data["DPO"] = DPOIndicator(close = data['close']).dpo()

In [37]:
data["EMA_100"] = EMAIndicator(close = data['close'], window=100).ema_indicator()

def make_binary(feat, close):
    if close > feat:
        return 1
    else:
        return 0

data['EMA_100_binary'] = data.apply(lambda x: make_binary(x['EMA_100'], x['close']), axis=1)

data = data.drop(columns=['EMA_100'])

# data["EMA_14"] = EMAIndicator(close = data['close'], window=14).ema_indicator()
# data["EMA_20"] = EMAIndicator(close = data['close'], window=20).ema_indicator()
# data["EMA_50"] = EMAIndicator(close = data['close'], window=50).ema_indicator()
# data["EMA_200"] = EMAIndicator(close = data['close'], window=200).ema_indicator()

In [38]:
data["KST"] = KSTIndicator(close = data['close'], roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst()
data["KST_diff"] = KSTIndicator(close = data['close'], roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst_diff()
data["KST_sig"] = KSTIndicator(close = data['close'], roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst_sig()

In [39]:
data["MACD_line"] = MACD(close = data['close'], window_slow= 26, window_fast= 12, window_sign= 9).macd()
data["MACD_signal"] = MACD(close = data['close'], window_slow= 26, window_fast= 12, window_sign= 9).macd_signal()

In [40]:
data["MAI"] = MassIndex(high = data["high"], low = data["low"], window_fast= 9, window_slow= 25).mass_index()

In [41]:
data["PSAR"] = PSARIndicator(high = data["high"], low = data["low"], close = data['close'], step= 0.02, max_step= 0.2).psar()

data['PSAR_binary'] = data.apply(lambda x: make_binary(x['PSAR'], x['close']), axis=1)

data = data.drop(columns=['PSAR'])

In [42]:
data["STC"]= STCIndicator(close = data['close'], window_slow= 50, window_fast= 23, cycle= 10, smooth1= 3, smooth2= 3).stc()

In [43]:
data["TRIX"]= TRIXIndicator(close = data['close'], window= 15).trix()

In [44]:
data["vortex_ind_diff"] = VortexIndicator(high = data["high"], low = data["low"], close = data['close'], window= 14).vortex_indicator_diff()
data["vortex_neg"] = VortexIndicator(high = data["high"], low = data["low"], close = data['close'], window= 14).vortex_indicator_neg()
data["vortex_pos"] = VortexIndicator(high = data["high"], low = data["low"], close = data['close'], window= 14).vortex_indicator_pos()

In [45]:
# data["wma_9"] = WMAIndicator(close = data['close'], window=14).wma()
# data["wma_20"] = WMAIndicator(close = data['close'], window=20).wma()
# data["wma_50"] = WMAIndicator(close = data['close'], window=50).wma()
# data["wma_100"] = WMAIndicator(close = data['close'], window=100).wma()

In [46]:
data_check(data)

Shape: (32741, 52)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 832

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32741 entries, 0 to 32755
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   timestamp                   32741 non-null  datetime64[ns]
 1   open                        32741 non-null  float64
 2   high                        32741 non-null  float64
 3   low                         32741 non-null  float64
 4   close                       32741 non-null  float64
 5   volume                      32741 non-null  float64
 6   volume_CMF                  32722 non-null  float64
 7   volume_FII                  32728 non-null  float64
 8   volume_MFI                  32728 non-null  float64
 9   volume_VWA                  32728 non-null  float64
 10  mom_AOI                     32708 non-null  float64
 11  mom_PPO                     32716 non-null  float64
 12  mom_PPO_signal              32708 non-null  float64
 13  mom_PVO                     32716 non-null  float64
 14  mom_PVO_signal              32708 non-null  float64
 15  mom_ROC                     32729 non-null  float64
 16  mom_rsi                     32728 non-null  float64
 17  mom_stoch_RSI               32715 non-null  float64
 18  mom_StochOscillator         32728 non-null  float64
 19  mom_StochOscillator_signal  32726 non-null  float64
 20  mom_TSI                     32704 non-null  float64
 21  mom_UltimateOscillator      32713 non-null  float64
 22  mom_WilliamsRIndicator      32728 non-null  float64
 23  volat_ATR                   32741 non-null  float64
 24  volat_bol_hband_binary      32741 non-null  float64
 25  volat_bol_lband_binary      32741 non-null  float64
 26  volat_bol_band_width        32722 non-null  float64
 27  KCW                         32722 non-null  float64
 28  KCP                         32739 non-null  float64
 29  donch_DCW                   32732 non-null  float64
 30  ULI                         32728 non-null  float64
 31  ADX                         32741 non-null  float64
 32  ADX_neg                     32741 non-null  float64
 33  ADX_pos                     32741 non-null  float64
 34  ARI_down                    32717 non-null  float64
 35  ARI                         32717 non-null  float64
 36  ARI_up                      32717 non-null  float64
 37  CCI                         32722 non-null  float64
 38  DPO                         32722 non-null  float64
 39  EMA_100_binary              32741 non-null  int64
 40  KST                         32727 non-null  float64
 41  KST_diff                    32727 non-null  float64
 42  KST_sig                     32727 non-null  float64
 43  MACD_line                   32716 non-null  float64
 44  MACD_signal                 32708 non-null  float64
 45  MAI                         32701 non-null  float64
 46  PSAR_binary                 32741 non-null  int64
 47  STC                         32670 non-null  float64
 48  TRIX                        32698 non-null  float64
 49  vortex_ind_diff             32727 non-null  float64
 50  vortex_neg                  32727 non-null  float64
 51  vortex_pos                  32727 non-null  float64
dtypes: datetime64[ns](1), float64(49), int64(2)
memory usage: 14.2 MB

## Merging Tables

### Merging Inflation rate to Bitcoin

Inflation rate dataset

In [48]:
data_inf_rt = pd.read_csv("../raw_data/SP500_price.csv")
data_inf_rt = data_inf_rt.dropna()

In [49]:
data_inf_rt["Date"] = pd.to_datetime(data_inf_rt["Date"], format = '%b %d, %Y')

In [50]:
data_inf_rt = data_inf_rt.drop(["Open", "High", "Low", "Adj Close**", "Volume"], axis=1)

In [51]:
data_check(data)

Shape: (32741, 52)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 832

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32741 entries, 0 to 32755
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   timestamp                   32741 non-null  datetime64[ns]
 1   open                        32741 non-null  float64
 2   high                        32741 non-null  float64
 3   low                         32741 non-null  float64
 4   close                       32741 non-null  float64
 5   volume                      32741 non-null  float64
 6   volume_CMF                  32722 non-null  float64
 7   volume_FII                  32728 non-null  float64
 8   volume_MFI                  32728 non-null  float64
 9   volume_VWA                  32728 non-null  float64
 10  mom_AOI                     32708 non-null  float64
 11  mom_PPO                     32716 non-null  float64
 12  mom_PPO_signal              32708 non-null  float64
 13  mom_PVO                     32716 non-null  float64
 14  mom_PVO_signal              32708 non-null  float64
 15  mom_ROC                     32729 non-null  float64
 16  mom_rsi                     32728 non-null  float64
 17  mom_stoch_RSI               32715 non-null  float64
 18  mom_StochOscillator         32728 non-null  float64
 19  mom_StochOscillator_signal  32726 non-null  float64
 20  mom_TSI                     32704 non-null  float64
 21  mom_UltimateOscillator      32713 non-null  float64
 22  mom_WilliamsRIndicator      32728 non-null  float64
 23  volat_ATR                   32741 non-null  float64
 24  volat_bol_hband_binary      32741 non-null  float64
 25  volat_bol_lband_binary      32741 non-null  float64
 26  volat_bol_band_width        32722 non-null  float64
 27  KCW                         32722 non-null  float64
 28  KCP                         32739 non-null  float64
 29  donch_DCW                   32732 non-null  float64
 30  ULI                         32728 non-null  float64
 31  ADX                         32741 non-null  float64
 32  ADX_neg                     32741 non-null  float64
 33  ADX_pos                     32741 non-null  float64
 34  ARI_down                    32717 non-null  float64
 35  ARI                         32717 non-null  float64
 36  ARI_up                      32717 non-null  float64
 37  CCI                         32722 non-null  float64
 38  DPO                         32722 non-null  float64
 39  EMA_100_binary              32741 non-null  int64
 40  KST                         32727 non-null  float64
 41  KST_diff                    32727 non-null  float64
 42  KST_sig                     32727 non-null  float64
 43  MACD_line                   32716 non-null  float64
 44  MACD_signal                 32708 non-null  float64
 45  MAI                         32701 non-null  float64
 46  PSAR_binary                 32741 non-null  int64
 47  STC                         32670 non-null  float64
 48  TRIX                        32698 non-null  float64
 49  vortex_ind_diff             32727 non-null  float64
 50  vortex_neg                  32727 non-null  float64
 51  vortex_pos                  32727 non-null  float64
dtypes: datetime64[ns](1), float64(49), int64(2)
memory usage: 14.2 MB

Big Dataset

In [53]:
data["Date"] = data["timestamp"]
data["Date"]= pd.to_datetime(data["Date"]).dt.date
data["Date"]= pd.to_datetime(data["Date"])

Merging Datasets

In [54]:
merged_df_sp = pd.merge(data, data_inf_rt, on=['Date', 'Date'], how='left')

In [55]:
data = merged_df_sp.drop(['Date'],axis = 1)

In [56]:
data = data.rename(columns={'Close*': 'S&P_close'})

In [57]:
data['S&P_close'] = data['S&P_close'].str.replace(',', '').astype(float)

In [58]:
import math

SP_close = data['S&P_close'].tolist()

for i in range(len(SP_close)):
    
    if i > 0 and math.isnan(SP_close[i]):
        
        SP_close[i] = SP_close[i-1]
        
for i in range(len(SP_close)):
    
    if math.isnan(SP_close[i]):
        
        SP_close[i] = 2978.43

In [59]:
data["S&P_close_filled"] = SP_close

In [60]:
data = data.drop(["S&P_close"], axis = 1)

In [61]:
data.head()

,timestamp,open,high,low,close,volume,volume_CMF,volume_FII,volume_MFI,volume_VWA,...,MACD_line,MACD_signal,MAI,PSAR_binary,STC,TRIX,vortex_ind_diff,vortex_neg,vortex_pos,S&P_close_filled
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2978.43
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2978.43
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2978.43
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2978.43
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2978.43

In [62]:
# msno.matrix(data[:300], figsize=(50, 10))

In [63]:
data_check(data)

Shape: (32741, 53)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 832

### Merging Interest rate (US) to Bitcoin

Interest rate dataset

In [64]:
data_int_us = pd.read_csv("../raw_data/historical_country_United_States_indicator_Interest_Rate.csv")

data_int_us.drop(columns=["Category", "Country", "Frequency", "HistoricalDataSymbol", "LastUpdate"], inplace=True)
data_int_us = data_int_us.rename(columns={'Value': 'Interest_Rate'})
data_int_us['DateTime'] = pd.to_datetime(data_int_us['DateTime'])

data_int_us

      DateTime  Interest_Rate
0   1971-08-04           5.50
1   1971-08-16           5.75
2   1971-09-01           5.13
3   1971-10-01           5.13
4   1971-11-01           5.13
..         ...            ...
826 2023-01-31           4.50
827 2023-02-01           4.75
828 2023-03-22           5.00
829 2023-04-30           5.00
830 2023-05-03           5.25

[831 rows x 2 columns]

In [65]:
data_int_us['datetime_M'] = data_int_us['DateTime'].dt.to_period('d').dt.strftime('%Y-%m-%d')

Big dataset

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32741 entries, 0 to 32740
Data columns (total 53 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   timestamp                   32741 non-null  datetime64[ns]
 1   open                        32741 non-null  float64
 2   high                        32741 non-null  float64
 3   low                         32741 non-null  float64
 4   close                       32741 non-null  float64
 5   volume                      32741 non-null  float64
 6   volume_CMF                  32722 non-null  float64
 7   volume_FII                  32728 non-null  float64
 8   volume_MFI                  32728 non-null  float64
 9   volume_VWA                  32728 non-null  float64
 10  mom_AOI                     32708 non-null  float64
 11  mom_PPO                     32716 non-null  float64
 12  mom_PPO_signal              32708 non-null  float64
 13  mom_PVO                     32716 non-null  float64
 14  mom_PVO_signal              32708 non-null  float64
 15  mom_ROC                     32729 non-null  float64
 16  mom_rsi                     32728 non-null  float64
 17  mom_stoch_RSI               32715 non-null  float64
 18  mom_StochOscillator         32728 non-null  float64
 19  mom_StochOscillator_signal  32726 non-null  float64
 20  mom_TSI                     32704 non-null  float64
 21  mom_UltimateOscillator      32713 non-null  float64
 22  mom_WilliamsRIndicator      32728 non-null  float64
 23  volat_ATR                   32741 non-null  float64
 24  volat_bol_hband_binary      32741 non-null  float64
 25  volat_bol_lband_binary      32741 non-null  float64
 26  volat_bol_band_width        32722 non-null  float64
 27  KCW                         32722 non-null  float64
 28  KCP                         32739 non-null  float64
 29  donch_DCW                   32732 non-null  float64
 30  ULI                         32728 non-null  float64
 31  ADX                         32741 non-null  float64
 32  ADX_neg                     32741 non-null  float64
 33  ADX_pos                     32741 non-null  float64
 34  ARI_down                    32717 non-null  float64
 35  ARI                         32717 non-null  float64
 36  ARI_up                      32717 non-null  float64
 37  CCI                         32722 non-null  float64
 38  DPO                         32722 non-null  float64
 39  EMA_100_binary              32741 non-null  int64
 40  KST                         32727 non-null  float64
 41  KST_diff                    32727 non-null  float64
 42  KST_sig                     32727 non-null  float64
 43  MACD_line                   32716 non-null  float64
 44  MACD_signal                 32708 non-null  float64
 45  MAI                         32701 non-null  float64
 46  PSAR_binary                 32741 non-null  int64
 47  STC                         32670 non-null  float64
 48  TRIX                        32698 non-null  float64
 49  vortex_ind_diff             32727 non-null  float64
 50  vortex_neg                  32727 non-null  float64
 51  vortex_pos                  32727 non-null  float64
 52  S&P_close_filled            32741 non-null  float64
dtypes: datetime64[ns](1), float64(50), int64(2)
memory usage: 13.5 MB

In [67]:
data['datetime_d'] = data['timestamp'].dt.to_period('d').dt.strftime('%Y-%m-%d')

Merging

In [68]:
data['datetime_d'] = pd.to_datetime(data['datetime_d'])

In [69]:
data_int_us = data_int_us[data_int_us['DateTime'] > '2019-08-08']

In [70]:
data = data.merge(data_int_us, how='left', left_on='datetime_d', right_on='DateTime')

In [71]:
import math

In [72]:
data.head(1)

,timestamp,open,high,low,close,volume,volume_CMF,volume_FII,volume_MFI,volume_VWA,...,STC,TRIX,vortex_ind_diff,vortex_neg,vortex_pos,S&P_close_filled,datetime_d,DateTime,Interest_Rate,datetime_M
0,2019-09-08 20:00:00,10000.0,10000.0,10000.0,10000.0,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2978.43,2019-09-08,NaT,NaN,NaN

In [73]:
int_list = data['Interest_Rate'].tolist()


for i in range(len(int_list)):
    
    if i > 0 and math.isnan(int_list[i]):
        
        int_list[i] = int_list[i-1]
        
for i in range(len(int_list)):
    
    if math.isnan(int_list[i]):
        
        int_list[i] = 2.25

In [74]:
data['Interest_Rates_filled'] = int_list

In [75]:
data = data.drop(["datetime_d", "DateTime", "Interest_Rate"], axis = 1)

In [76]:
data_check(data)

Shape: (32741, 55)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 32469

In [77]:
data

,timestamp,open,high,low,close,volume,volume_CMF,volume_FII,volume_MFI,volume_VWA,...,MAI,PSAR_binary,STC,TRIX,vortex_ind_diff,vortex_neg,vortex_pos,S&P_close_filled,datetime_M,Interest_Rates_filled
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,2978.43,NaN,2.25
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,2978.43,NaN,2.25
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,2978.43,NaN,2.25
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,2978.43,NaN,2.25
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,2978.43,NaN,2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32736,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,22.182831,0,61.706651,0.016418,0.065341,0.917674,0.983015,4282.37,NaN,5.25
32737,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,22.439449,0,38.302308,0.015782,0.031675,0.984213,1.015887,4282.37,NaN,5.25
32738,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,22.679318,0,19.151154,0.014471,-0.113904,1.006104,0.892200,4282.37,NaN,5.25
32739,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,22.794642,0,9.575577,0.012502,-0.173782,1.079289,0.905507,4282.37,NaN,5.25
32740,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,23.049919,0,4.787789,0.009703,-0.291848,1.094035,0.802186,4282.37,NaN,5.25

### Merging Inflation rate to Bitcoin

Inflation rate dataset

In [78]:
data_inf_us = pd.read_csv("../raw_data/historical_country_United_States_indicator_Inflation_Rate.csv")

In [79]:
new_rows = [{'Value': 5.15, 'DateTime': '2023-05-30T00:00:00'}, {'Value': 5.08, 'DateTime': '2023-06-30T00:00:00'}]
new_df = pd.DataFrame(new_rows)
data_inf_us = pd.concat([data_inf_us, new_df], ignore_index=True)

In [80]:
data_inf_us['DateTime'] = pd.to_datetime(data_inf_us['DateTime'])

In [81]:
data_inf_us

,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate
0,United States,Inflation Rate,1914-12-31,1.00,Monthly,CPI YOY,2015-02-26T15:56:00
1,United States,Inflation Rate,1915-01-31,1.00,Monthly,CPI YOY,2015-02-26T15:56:00
2,United States,Inflation Rate,1915-02-28,1.00,Monthly,CPI YOY,2015-02-26T15:56:00
3,United States,Inflation Rate,1915-03-31,0.00,Monthly,CPI YOY,2015-02-26T15:56:00
4,United States,Inflation Rate,1915-04-30,2.00,Monthly,CPI YOY,2015-02-26T15:56:00
...,...,...,...,...,...,...,...
1298,United States,Inflation Rate,2023-02-28,6.00,Monthly,CPI YOY,2023-04-12T12:30:00
1299,United States,Inflation Rate,2023-03-31,5.00,Monthly,CPI YOY,2023-05-10T12:30:00
1300,United States,Inflation Rate,2023-04-30,4.90,Monthly,CPI YOY,2023-05-10T12:30:00
1301,NaN,NaN,2023-05-30,5.15,NaN,NaN,NaN
1302,NaN,NaN,2023-06-30,5.08,NaN,NaN,NaN

In [82]:
data_inf_us['datetime_M'] = data_inf_us['DateTime'].dt.to_period('M').dt.strftime('%Y-%m')

In [83]:
data_inf_us = data_inf_us.drop(["Category", "Country", "Frequency", "HistoricalDataSymbol", "LastUpdate", "DateTime"], axis=1)

In [84]:
data_inf_us.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Value       1303 non-null   float64
 1   datetime_M  1303 non-null   object
dtypes: float64(1), object(1)
memory usage: 20.5+ KB

Big Dataset

In [85]:
data_inf_us.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Value       1303 non-null   float64
 1   datetime_M  1303 non-null   object
dtypes: float64(1), object(1)
memory usage: 20.5+ KB

In [86]:
data['datetime_M'] = data['timestamp'].dt.to_period('M').dt.strftime('%Y-%m')

Merging

In [87]:
data = pd.merge(data, data_inf_us, on=['datetime_M', 'datetime_M'], how='left')

In [88]:
# data.tail(50)

In [89]:
data = data.drop(["datetime_M"], axis=1)

In [90]:
data = data.rename(columns={'Value': 'Inflation_Rate_us'})
data.tail()

,timestamp,open,high,low,close,volume,volume_CMF,volume_FII,volume_MFI,volume_VWA,...,MAI,PSAR_binary,STC,TRIX,vortex_ind_diff,vortex_neg,vortex_pos,S&P_close_filled,Interest_Rates_filled,Inflation_Rate_us
32736,2023-06-03 20:00:00,27239.4,27246.4,27101.0,27147.6,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,22.182831,0,61.706651,0.016418,0.065341,0.917674,0.983015,4282.37,5.25,5.08
32737,2023-06-03 21:00:00,27147.7,27173.7,27113.9,27138.8,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,22.439449,0,38.302308,0.015782,0.031675,0.984213,1.015887,4282.37,5.25,5.08
32738,2023-06-03 22:00:00,27138.9,27153.6,27000.0,27084.9,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,22.679318,0,19.151154,0.014471,-0.113904,1.006104,0.892200,4282.37,5.25,5.08
32739,2023-06-03 23:00:00,27084.9,27119.5,27042.0,27052.7,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,22.794642,0,9.575577,0.012502,-0.173782,1.079289,0.905507,4282.37,5.25,5.08
32740,2023-06-04 00:00:00,27052.8,27069.3,26900.0,26990.0,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,23.049919,0,4.787789,0.009703,-0.291848,1.094035,0.802186,4282.37,5.25,5.08

In [91]:
data_check(data)

Shape: (32741, 55)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 832

## Functions

#### subhag trend

In [92]:
def ghost_trend_signal(data, resolution=60, fast_length=3, slow_length=10):
    src = data.close
    trend_60 = ((ta.trend.ema_indicator(src, fast_length) - ta.trend.ema_indicator(src, slow_length))/src)*100
    prev_trend_60 = ((ta.trend.ema_indicator(src.shift(5), fast_length) - ta.trend.ema_indicator(src.shift(5), slow_length))/src.shift(5))*100
    trend_status_60 = [1 if trend_60[i] > prev_trend_60[i] else -1 for i in range(len(data))]
    return pd.DataFrame({'timestamp': data.timestamp,'subhag_signal': trend_status_60})

In [93]:
data_g_r = ghost_trend_signal(data, resolution=60, fast_length=3, slow_length=10)

In [94]:
data_g_r.rename(columns={'timestamp': 'time_g_r'}, inplace=True)

In [95]:
data = pd.merge(data, data_g_r, left_index=True, right_index=True)

In [96]:
data = data.drop(["time_g_r"],axis=1)

#### Fisher transform

In [97]:
def highes(data, length):
    return np.array( [0]*length + [ np.max(data[i-length+1: i+1]) for i in range(length, len(data))])
def lowes(data, length):
    return np.array( [0]*length + [ np.min(data[i-length+1: i+1]) for i in range(length, len(data))])
def fisher_transform(df, len_=9):
    high, low = df.high, df.low
    hl2 = (high+low)/2
    high_ = highes(hl2, len_)
    low_ = lowes(hl2, len_)
    def round_(val):
        return .999 if val > .99 else -.999 if val < -.99 else val
    value, fish1 = [0.0], [0.0]
    for i in range(1, len(hl2)):
        value.append(round_(.66 * ((hl2[i] - low_[i]) / (high_[i] - low_[i]) - .5) + .67 * value[i-1]))
        fish1.append(.5 * np.log((1 + value[i]) / (1 - value[i])) + .5 * fish1[i-1])
    fish1 = pd.Series(fish1)
    fish2 = fish1.shift().fillna(method='bfill')
    return pd.DataFrame({'timestamp': df.timestamp,
                         'Fisher': np.round(fish1, 5),
                         'Fisher_trigger': np.round(fish2, 5)})

In [98]:
fisher_data = fisher_transform(data, len_=9)

/tmp/ipykernel_19744/3376831689.py:14: RuntimeWarning: divide by zero encountered in double_scalars
  value.append(round_(.66 * ((hl2[i] - low_[i]) / (high_[i] - low_[i]) - .5) + .67 * value[i-1]))

In [99]:
fisher_data.rename(columns={'timestamp': 'time_fish'}, inplace=True)

In [100]:
data = pd.merge(data, fisher_data, left_index=True, right_index=True)

In [101]:
data = data.drop(["time_fish"],axis=1)

In [102]:
data

,timestamp,open,high,low,close,volume,volume_CMF,volume_FII,volume_MFI,volume_VWA,...,TRIX,vortex_ind_diff,vortex_neg,vortex_pos,S&P_close_filled,Interest_Rates_filled,Inflation_Rate_us,subhag_signal,Fisher,Fisher_trigger
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2978.43,2.25,1.70,-1,0.00000,0.00000
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2978.43,2.25,1.70,-1,3.80020,0.00000
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2978.43,2.25,1.70,-1,5.70030,3.80020
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2978.43,2.25,1.70,-1,6.65035,5.70030
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2978.43,2.25,1.70,-1,7.12538,6.65035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32736,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,0.016418,0.065341,0.917674,0.983015,4282.37,5.25,5.08,1,0.55827,0.61369
32737,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,0.015782,0.031675,0.984213,1.015887,4282.37,5.25,5.08,-1,0.15512,0.55827
32738,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,0.014471,-0.113904,1.006104,0.892200,4282.37,5.25,5.08,-1,-0.36126,0.15512
32739,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,0.012502,-0.173782,1.079289,0.905507,4282.37,5.25,5.08,-1,-0.86198,-0.36126
32740,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,0.009703,-0.291848,1.094035,0.802186,4282.37,5.25,5.08,-1,-1.35313,-0.86198

#### Super Trend

In [103]:
def tr(high, low, close):
    hl = np.abs(high-low)
    hc = np.abs(high-close.shift())
    lc = np.abs(low-close.shift())
    ranges = pd.concat([hl, hc, lc], axis=1)
    tr = np.max(ranges, axis=1)
    return pd.Series(tr)
def supertrend(df, Period=21, Multiplier=1.0):
    high, low, close = df.high, df.low, df.close
    src = (high+low)/2
    atr2 = ta.trend.sma_indicator(tr(high, low, close), Period, True)
    atr= ta.volatility.average_true_range(high, low, close, Period, True)
    up, dn = [0], [0]
    trend = [1]
    trend_line = [0]
    for i in range(1, len(close)):
        up_=src[i]-(Multiplier*atr[i])
        up1 = up[i-1]
        up.append(max(up_,up1) if close[i-1] > up1 else up_ )
        dn_ = src[i]+(Multiplier*atr[i])
        dn1 = dn[i-1]
        dn.append(min(dn_, dn1) if close[i-1] < dn1 else dn_)
        trend.append(1 if trend[i-1]==-1 and close[i] > dn1 else -1 if trend[i-1]==1 and close[i] < up1 else trend[i-1])
    return trend

In [104]:
supertrend = supertrend(data)

In [105]:
data['supertrend'] = supertrend

#### choppiness index

In [106]:
def highes(data, length):
    return np.array( [0]*length + [ np.max(data[i-length+1: i+1]) for i in range(length, len(data))])
def lowes(data, length):
    return np.array( [0]*length + [ np.min(data[i-length+1: i+1]) for i in range(length, len(data))])
def chop_index(df, length = 14):
    high, low, close = df.high, df.low, df.close
    atr = ta.volatility.average_true_range(high, low, close, 1).bfill()
    atr_sum = atr.rolling(length).sum().bfill()
    h = highes(high, length)
    l = lowes(low, length)
    ci = 100 * np.log10(atr_sum/(h-l)) / np.log10(length)
    return ci

In [107]:
chop_index = chop_index(data)

In [108]:
data['chop_index'] = list(chop_index)

#### Velocity Function

In [109]:
## Ema Function ##
def EMA(src, len_):
    return ta.trend.ema_indicator(src, len_).fillna(method='bfill')
## Velocity Function ##
def t3_velocity(df, len_=10, vfactor=1):
    Data = df.close
    x1 = (EMA(Data,len_))*(1+vfactor)
    x2 = (EMA(EMA(Data,len_),len_))*vfactor
    gd = x1 - x2
    x11 = (EMA(gd,len_))*(1+vfactor)
    x21 = (EMA(EMA(gd,len_),len_))*vfactor
    gd1 = x11 - x21
    x12 = (EMA(gd1,len_))*(1+vfactor)
    x22 = (EMA(EMA(gd1,len_),len_))*vfactor
    first = x12 - x22
    y1 = (EMA(Data,len_))*(1+vfactor/2)
    y2 = (EMA(EMA(Data,len_),len_))*vfactor/2
    ygd = y1-y2
    y11 = (EMA(ygd,len_))*(1+vfactor/2)
    y21 = (EMA(EMA(ygd,len_),len_))*vfactor/2
    ygd1 = y11-y21
    y12 = (EMA(ygd1,len_))*(1+vfactor/2)
    y22 = (EMA(EMA(ygd1,len_),len_))*vfactor/2
    second1 = y12-y22
    S = first - second1.shift(1)
    c = [1 if s > 0 else -1 for s in S]
    df = pd.DataFrame({'time': df.timestamp, 't3velocity_color': c})
    return df

In [110]:
velo_data = t3_velocity(data)

In [111]:
velo_data.head(1)

                 time  t3velocity_color
0 2019-09-08 20:00:00                -1

In [112]:
velo = velo_data['t3velocity_color'].tolist()

In [113]:
data['Velocity'] = velo

In [114]:
data

,timestamp,open,high,low,close,volume,volume_CMF,volume_FII,volume_MFI,volume_VWA,...,vortex_pos,S&P_close_filled,Interest_Rates_filled,Inflation_Rate_us,subhag_signal,Fisher,Fisher_trigger,supertrend,chop_index,Velocity
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,0.00000,0.00000,1,inf,-1
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,3.80020,0.00000,1,inf,1
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,5.70030,3.80020,1,inf,1
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,6.65035,5.70030,1,inf,1
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,NaN,NaN,NaN,NaN,...,NaN,2978.43,2.25,1.70,-1,7.12538,6.65035,1,inf,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32736,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,-0.048901,45306.477416,59.148253,27189.586323,...,0.983015,4282.37,5.25,5.08,1,0.55827,0.61369,-1,53.765071,1
32737,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,-0.075151,31002.276871,58.559862,27189.451257,...,1.015887,4282.37,5.25,5.08,-1,0.15512,0.55827,-1,54.075485,1
32738,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,-0.042819,-91926.878625,49.242500,27175.830184,...,0.892200,4282.37,5.25,5.08,-1,-0.36126,0.15512,-1,44.950464,1
32739,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,-0.045307,-114493.903593,43.575625,27168.759575,...,0.905507,4282.37,5.25,5.08,-1,-0.86198,-0.36126,-1,45.530993,1
32740,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,-0.030499,-262995.601537,38.631681,27142.897792,...,0.802186,4282.37,5.25,5.08,-1,-1.35313,-0.86198,-1,39.918101,-1

In [115]:
data_check(data)

Shape: (32741, 61)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 832

In [116]:
import datetime

now = datetime.datetime.now()
now = now.strftime("%Y%m%d-%H%M%S")
now

'20230609-165037'

In [117]:
data = data.dropna().reset_index(drop=True)

data.to_csv(f'../raw_data/{now}-processed-data.csv', index=False)

In [118]:
data['timestamp']

0       2019-09-11 19:00:00
1       2019-09-11 20:00:00
2       2019-09-11 21:00:00
3       2019-09-11 22:00:00
4       2019-09-11 23:00:00
                ...
32665   2023-06-03 20:00:00
32666   2023-06-03 21:00:00
32667   2023-06-03 22:00:00
32668   2023-06-03 23:00:00
32669   2023-06-04 00:00:00
Name: timestamp, Length: 32670, dtype: datetime64[ns]

In [120]:
load_df = pd.read_csv(f'../raw_data/{now}-processed-data.csv')
data_check(load_df)

Shape: (32670, 61)
Duplicates: 0
Duplicate timestamps 0
Total amount of NaN: 0