# Volume Indicators

Imports

In [1]:
import ta
import pandas as pd

Data

In [2]:
data = pd.read_csv("../raw_data/BTCUSDT_1h.csv")
data.head()

             timestamp      open      high       low     close   volume
0  2019-09-08 20:00:00  10000.00  10000.00  10000.00  10000.00    0.002
1  2019-09-08 21:00:00  10000.00  10000.00  10000.00  10000.00    0.000
2  2019-09-08 22:00:00  10344.77  10357.53  10337.43  10340.12  471.659
3  2019-09-08 23:00:00  10340.12  10368.64  10334.54  10351.42  583.271
4  2019-09-09 00:00:00  10351.42  10391.90  10324.77  10391.90  689.759

Acc Dist Index Indicator

In [3]:
#from ta.volume import AccDistIndexIndicator

In [4]:
#adii_indicator = ta.volume.AccDistIndexIndicator(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
#adii_values = adii_indicator.acc_dist_index()
#data['adi'] = adii_values
#data.tail(1)

Chaikin Money Flow Indicator

In [5]:
from ta.volume import ChaikinMoneyFlowIndicator

In [6]:
cmfi_indicator = ta.volume.ChaikinMoneyFlowIndicator(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
cmfi_values = cmfi_indicator.chaikin_money_flow()
data['CMF'] = cmfi_values
data.tail(1)

,timestamp,open,high,low,close,volume,CMF
32755,2023-06-04 00:00:00,27052.8,27069.3,26900.0,26990.0,18405.196,-0.030499

Ease Of Movement Indicator

In [7]:
#from ta.volume import EaseOfMovementIndicator

In [8]:
#omi_indicator = ta.volume.EaseOfMovementIndicator(high = data["high"], low = data["low"], volume = data["volume"])
#eomi_values = eomi_indicator.sma_ease_of_movement() 
#data['EMO'] = eomi_values
#data.tail(3)#e

Force Index Indicator

In [9]:
from ta.volume import ForceIndexIndicator

In [10]:
fii_indicator = ta.volume.ForceIndexIndicator(close = data["close"], volume = data["volume"])
fii_values = fii_indicator.force_index() 
data['FII'] = fii_values
data.tail(3)

,timestamp,open,high,low,close,volume,CMF,FII
32753,2023-06-03 22:00:00,27138.9,27153.6,27000.0,27084.9,15389.644,-0.042819,-91926.878625
32754,2023-06-03 23:00:00,27084.9,27119.5,27042.0,27052.7,7760.747,-0.045307,-114493.903593
32755,2023-06-04 00:00:00,27052.8,27069.3,26900.0,26990.0,18405.196,-0.030499,-262995.601537

MFI Indicator

In [11]:
from ta.volume import MFIIndicator

In [12]:
mfi_indicator = ta.volume.MFIIndicator(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
mfi_values = mfi_indicator.money_flow_index() 
data['MFI'] = mfi_values
data.tail(3)

,timestamp,open,high,low,close,volume,CMF,FII,MFI
32753,2023-06-03 22:00:00,27138.9,27153.6,27000.0,27084.9,15389.644,-0.042819,-91926.878625,49.242500
32754,2023-06-03 23:00:00,27084.9,27119.5,27042.0,27052.7,7760.747,-0.045307,-114493.903593,43.575625
32755,2023-06-04 00:00:00,27052.8,27069.3,26900.0,26990.0,18405.196,-0.030499,-262995.601537,38.631681

Negative Volume Index Indicator

In [13]:
#from ta.volume import NegativeVolumeIndexIndicator

In [14]:
#nvi_indicator = ta.volume.NegativeVolumeIndexIndicator(close = data["close"], volume = data["volume"])
#nvi_values = nvi_indicator.negative_volume_index() 
#data['NVI'] = nvi_values
#data.tail(3)

On Balance Volume Indicator

In [15]:
#from ta.volume import OnBalanceVolumeIndicator

In [16]:
#obv_indicator = ta.volume.OnBalanceVolumeIndicator(close = data["close"], volume = data["volume"])
#obv_values = obv_indicator.on_balance_volume() 
#data['OBV'] = obv_values
#data.tail(3)

Volume Price Trend Indicator

In [17]:
#from ta.volume import VolumePriceTrendIndicator

In [18]:
#vpt_indicator = ta.volume.VolumePriceTrendIndicator(close = data["close"], volume = data["volume"])
#vpt_values = vpt_indicator.volume_price_trend() 
#data['VPT'] = vpt_values
#data.tail(3)

Volume Weighted Average Price

In [19]:
from ta.volume import VolumeWeightedAveragePrice

In [20]:
vwa_indicator = ta.volume.VolumeWeightedAveragePrice(high = data["high"], low = data["low"], close = data["close"], volume = data["volume"])
vwa_values = vwa_indicator.volume_weighted_average_price() 
data['VWA'] = vwa_values
data.tail(3)

,timestamp,open,high,low,close,volume,CMF,FII,MFI,VWA
32753,2023-06-03 22:00:00,27138.9,27153.6,27000.0,27084.9,15389.644,-0.042819,-91926.878625,49.242500,27175.830184
32754,2023-06-03 23:00:00,27084.9,27119.5,27042.0,27052.7,7760.747,-0.045307,-114493.903593,43.575625,27168.759575
32755,2023-06-04 00:00:00,27052.8,27069.3,26900.0,26990.0,18405.196,-0.030499,-262995.601537,38.631681,27142.897792

In [21]:
data.to_csv("Volume_Indicators_BTCUSDT_1h")